{% comment %} <div class="campaignBnr">

    <img src="{{ 'banner-vita-day3_0615.jpg' | file_url }}" alt="3DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">

</div> {% endcomment %}


