{% comment %} <div class="campaignBnr" style="margin-bottom: 100px;">
    <img src="{{ 'banner-day07.jpg' | file_url }}" alt="7DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    <img src="{{ 'banner-day08.jpg' | file_url }}" alt="8DAY CAMPAIGN" width="1500" height="560" loading="eager" class=""> 
</div>
 {% endcomment %}
