<div class="campaignBnr">

    <img src="{{ 'banner-vita-day2.jpg' | file_url }}" alt="2DAY CAMPAIGN" width="1500" height="560" loading="eager" class=""> 
    <img src="{{ 'banner-vita-day3_0615.jpg' | file_url }}" alt="3DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    
    <div class="setbnrs">
    {% comment %} <a href="{{ routes.root_url }}products/vitaLimitedset/" style="display: block; margin-top:14px;" > 
    <img src="{{ 'vita_set_web520.jpg' | file_url }}" alt="3DAY CAMPAIGN" width="1500" height="560" loading="eager" class="">
    </a> {% endcomment %}
</div>
</div> 

{% comment %} <style>
    #vitaLimitedset .setbnrs{
        display: none;
    }
</style> {% endcomment %}