<div class="clenz__btn">
    <span class="js-online">ONLINE SHOP</span>
    <ul class="clenz__btn--list">
        <li>
            <a href="https://www.lilyanna.jp/fs/lilyanna/perse-1day-2set?utm_source=persejp&utm_medium=referral&utm_campaign=perseofficial_perse_perse.jp_20220408" target="_blank" rel="noopener" itemprop="website">公式販売サイト</a>
        </li>
        <li>
            <a href="https://item.rakuten.co.jp/lilyanna/perse-1day-2set/" target="_blank" rel="noopener" itemprop="website">楽天</a>
        </li>
        <li>
            <a href="https://www.amazon.co.jp/dp/B09XQC1V7S" target="_blank" rel="noopener" itemprop="website">Amazon</a>
        </li>
        <li>
            <a href="https://www.qoo10.jp/g/981446611" target="_blank" rel="noopener" itemprop="website">Qoo10</a>
        </li>
        <li>
            <a href="https://store.shopping.yahoo.co.jp/lilyanna/ps110-2.html" target="_blank" rel="noopener" itemprop="website">Yahoo!ショッピング</a>
        </li>
        <li>
            <a href="https://wowma.jp/item/568497474" target="_blank" rel="noopener" itemprop="website">au PAY マーケット</a>
        </li>
    </ul>
</div> 
<p class="clenz__btn--btmtxt"><a href="{{ routes.root_url }}blogs/ニュース/campaign/">販売店舗が増えました！お得なキャンペーン実施中</a></p>