<section class="eyeshadow__vegan">
    <div class="eyeshadow__vegan--img">
        <picture>
            <source srcset="{{ 'bg_vegan-eyeshadow.webp' | file_url }}" type="image/webp">
            <img src="{{ 'bg_vegan-eyeshadow.jpg' | file_url }}" alt="VEGAN 100%" width="545" height="800" loading="lazy" >
        </picture>

        <h2 class="eyeshadow__vegan--ttl">100% VEGAN</h2>
        <p class="eyeshadow__vegan--txt">The Skin Eyeshadow Paletteは<br>
            商品自体はもちろんケースやパッケージの<br>
            素材まで「EVE VEGAN」の<br>
            認証を取得したヴィーガン商品です。</p>
        <p class="eyeshadow__vegan--mark">eve VEGAN</p>
    </div>

    <div class="eyeshadow__vegan--txtblc">
        <p>The Skin Eyeshadow Paletteは、フランスの世界的ヴィーガン認証機関のEVE(Expertise Vegane Europe)社から国際認証マーク「EVE VEGAN」を取得した商品です。動物の権利と環境、倫理的消費、製造過程での倫理性を⼤事にし、動物原料、動物実験原料、動物由来物質を排除した化粧品を対象としています。パッケージや容器だけでなく、製造施設の清潔さと交差汚染・混⼊防⽌のための⽣産設備があるのかも審査基準に含まれています。</p>
    </div>

</section>