<div class="phome" id="phome">
    <div class="phome__slide--wrapper ">
        <ul class="phome__slide">
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/top_slide01_945e2394-40f2-4baa-ab45-3d8c3324a605.png?v=1644294764" alt="slide01"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/top_slide02_a6ca3b39-cdd8-4c85-8fb1-99b0c4f33223.png?v=1644294764" alt="slide02"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/top_slide03_257a15bf-1ec5-43f4-be7e-ffc7204819e3.png?v=1644294764" alt="slide03"></li>
        </ul>
        <div class="phome__slide--frame">Frame</div>
    </div>

    <div class="phome__slide--name fadeUpTrigger"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/top_slide.svg?v=1644294744" alt="Name"></div>


    <div class="fadein_block">

    </div>  
    <a href="{{ routes.root_url }}pages/">送料に関して</a>
</div>  

    