
<div class="rip05">
    <div class="rip05__inner">
        <div class="rip05__fv">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip05_fv.png?v=1644558438" alt="" width="auto" height="auto" loading="lazy">
        </div>
        <ul class="rip05__check">
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 1</p>
                <p class="rip05__txt">
                    ソフトマットでベルベットのような軽くて柔らかいバームテクスチャー
                </p>
                <p class="rip05__note">※保湿成分配合<br>（スイートアーモンドオイル、ホホバオイル、クプアスバター）<br>
                <span>該当成分 ： アーモンド油、ホホバ種子油、テオブロマグランジフロルム種子脂</span></p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 2</p>
                <p class="rip05__txt">
                    唇に密着して、プライマーを塗ったようなブラーフィルター効果を演出
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 3</p>
                <p class="rip05__txt">
                    マスクに付きづらく、鏡を見なくてもスルスル塗れるラフさを重視
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 4</p>
                <p class="rip05__txt">
                    時間がたっても⾃然な⾊みが続くティント成分配合
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 5</p>
                <p class="rip05__txt">
                    唇がふっくらするプランピング成分配合。唇に潤いを与え、ぷっくりとした唇に。
                </p>
            </li>
            <li style="padding:0; height:2px;"></li>
        </ul>
    </div>
</div>

<div class="rip06">
    <div class="rip06__inner">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip05_img.png?v=1644565782" alt="" width="auto" height="auto" loading="lazy" class="pctxt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/sp_rip06txt.png?v=1644911017" alt="" width="auto" height="auto" loading="lazy" class="sptxt">
    </div>
</div>
<p class="rip06__txt">Velvet Fix Lip Balmは、フランスの世界的ヴィーガン認証機関のEVE(Expertise Vegane Europe)社から国際認証マーク「EVE VEGAN」を取得した商品です。動物の権利と環境、倫理的消費、製造過程での倫理性を大事にし、動物原料、動物実験原料、動物由来物質を排除した化粧品を対象としています。パッケージや容器だけでなく、製造施設の清潔さと交差汚染・混入防止のための生産設備があるのかも審査基準に含まれています。</p>


<div class="rip07">
    <div class="rip07__imgPc">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip6_free.png?v=1644570211" alt="" width="auto" height="auto" loading="lazy">
    </div>
    <div class="rip07__imgSp">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip6_freesp.png?v=1644570211" alt="" width="auto" height="auto" loading="lazy">
    </div>
</div>