

<div class="rip06">
    <div class="rip06__inner">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip06_imgPc.png?v=1644990462" alt="100% VEGAN" width="auto" height="auto" loading="lazy" class="pctxt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip06_img.png?v=1644990462" alt="100% VEGAN SP" width="auto" height="auto" loading="lazy" class="sptxt">
        <p class="rip06__relotate"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip06_txt.svg?v=1644990446" alt="100% VEGAN" width="auto" height="auto" loading="lazy"></p>
    </div>

</div>
<p class="rip06__txt">Velvet Fix Lip Balmは、フランスの世界的ヴィーガン認証機関のEVE(Expertise Vegane Europe)社から国際認証マーク「EVE VEGAN」を取得した商品です。動物の権利と環境、倫理的消費、製造過程での倫理性を大事にし、動物原料、動物実験原料、動物由来物質を排除した化粧品を対象としています。パッケージや容器だけでなく、製造施設の清潔さと交差汚染・混入防止のための生産設備があるのかも審査基準に含まれています。</p>


<div class="rip07renew">
    {% comment %} <div class="rip07__imgPc">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip6_free.png?v=1644570211" alt="5FREE" width="auto" height="auto" loading="lazy">
    </div>
    <div class="rip07__imgSp">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip6_freesp.png?v=1644570211" alt="5FREE" width="auto" height="auto" loading="lazy">
    </div> {% endcomment %}
    
    <img src="{{ 'img_5free.svg' | file_url }}" alt="OtherItems01" width="377"
        height="453" loading="eager">
</div>