<div class="rip08rn__wrapper">
    <div class="rip08rn">
        <h2 class="rip08rn__ttl">ご使用上のポイント</h2>
        <p class="rip08rn__txt">●商品の特性上、中身をくり出し過ぎたり、過度な力を入れたりすると口紅が折れる場合がございます。<br>
            <span>（perseでは5mm程度のくり出し長さでの利用を推奨しております。）</span></p>
         <p class="rip08rn__txt">●唇が凹むくらいの過度な力での利用は控える。</p>
         <p class="rip08rn__txt">●唇の上でなめらかに伸びるように柔らかくつくられているので、高温になる場所で保管しないようにする。</p>
    </div>
</div>
