<div class="rip01">
    <div class="rip01__img">
    <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_ripPro01.png?v=1644478961" alt=""  width="auto" height="auto" loading="lazy">
    </div>
    <p class="rip01__name">ベルベット フィックス リップバーム</p>
    <div class="rip01__prodcut">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_ripPro02.png?v=1644478961" alt="" width="auto" height="auto" loading="lazy">
    </div>
    <p class="rip01__feature">透け感とマット感を両立させた、<br>新感覚ベルベットリップ。</p>
    <p class="rip01__txt">スルスルと密着して色移りしにくいヨレない唇に、<br>
        ふんわりと透けるソフトな発色が新しい。<br>
        プレイフルなカラーをバーム風のラフな質感で楽しむ、<br>
        次世代ベルベットリップバーム。</p>
</div>

<div class="rip02">
    <p class="rip02__ttl"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02_ttl.svg?v=1644481393" alt=""  width="auto" height="auto" loading="lazy"></p>
    <div classs="rip__slick--wrapper">
        <ul class="rip02__slick">
            <li>
                <div class="rip02__slick--main"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02_slick01.png?v=1644485364" alt="" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02__slick_name01.png?v=1644491012" alt=""  width="auto" height="auto" loading="lazy"></p>
            </li>
            <li>
                <div class="rip02__slick--main"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02_slick02.png?v=1644485364" alt="" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02__slick_name02.png?v=1644491012" alt=""  width="auto" height="auto" loading="lazy"></p>
            </li>
            <li>
                <div class="rip02__slick--main"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02_slick03.png?v=1644485364" alt="" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02__slick_name03.png?v=1644491012" alt=""  width="auto" height="auto" loading="lazy"></p>
            </li>
            <li>
                <div class="rip02__slick--main"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02_slick04.png?v=1644485364" alt="" width="auto" height="auto" loading="lazy"></div>
                <p class="rip02__slick--name"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02__slick_name04.png?v=1644491012" alt=""  width="auto" height="auto" loading="lazy"></p>
            </li>
        </ul>

    <ul class="rip02__slick02">
        <li><p class="rip02__slick02Img"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02_slick01b.png?v=1644485297" alt=""  width="auto" height="auto" loading="lazy"></p></li>
         <li><p class="rip02__slick02Img"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02_slick02b.png?v=1644485297" alt=""  width="auto" height="auto" loading="lazy"></p></li>
         <li><p class="rip02__slick02Img"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02_slick03b.png?v=1644485297" alt=""  width="auto" height="auto" loading="lazy"></p></li>
         <li><p class="rip02__slick02Img"><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip02_slick04b.png?v=1644485297" alt=""  width="auto" height="auto" loading="lazy"></p></li>
    </ul>
</div>
<p class="rip02__slick--txt">01 NUDE ROSE / 02 INNOCENT RED<br>
    03 CHILI ORANGE / 04 ALMOND BROWN</p>
</div>


<div class="rip03">
    <div class="rip03__wrapper">
    <p class="rip03__ttl"><span>SWATCH</span></p>
        <ul class="rip03__img">
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_01.png?v=1644546539" alt="" width="auto" height="auto" loading="lazy"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_02.png?v=1644546539" alt="" width="auto" height="auto" loading="lazy"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_03.png?v=1644546538" alt="" width="auto" height="auto" loading="lazy"></li>
            <li><img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_04.png?v=1644546538" alt="" width="auto" height="auto" loading="lazy"></li>
        </ul>
        <div class="rip03__blc">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_nude.png?v=1644546539" alt="" width="auto" height="auto" loading="lazy">
        </div>
        <div class="rip03__blc">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_red.png?v=1644546539" alt="" width="auto" height="auto" loading="lazy">
        </div>
        <div class="rip03__blc">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_orange.png?v=1644546539" alt="" width="auto" height="auto" loading="lazy">
        </div>
        <div class="rip03__blc">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip03_swatch_armond.png?v=1644546539" alt="" width="auto" height="auto" loading="lazy">
        </div>
    </div>
</div>

<div class="rip04">
    <p class="rip04__txt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip04_txt.svg?v=1644551112" alt="" width="auto" height="auto" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip04_txt.svg?v=1644551112" alt="" width="auto" height="auto" loading="lazy">
    </p>
    <figure class="rip04__img">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip04_img.png?v=1644551112" alt="" width="auto" height="auto" loading="lazy">
    </figure>
</div>

<div class="rip05">
    <div class="rip05__inner">
        <div class="rip05__fv">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip05_fv.png?v=1644558438" alt="" width="auto" height="auto" loading="lazy">
        </div>
        <ul class="rip05__check">
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 1</p>
                <p class="rip05__txt">
                    ソフトマットでベルベットのような軽くて柔らかいバームテクスチャー
                </p>
                <p class="rip05__note">※保湿成分配合<br>（スイートアーモンドオイル、ホホバオイル、クプアスバター）<br>
                <span>該当成分 ： アーモンド油、ホホバ種子油、テオブロマグランジフロルム種子脂</span></p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 2</p>
                <p class="rip05__txt">
                    唇に密着して、プライマーを塗ったようなブラーフィルター効果を演出
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 3</p>
                <p class="rip05__txt">
                    マスクに付きづらく、鏡を見なくてもスルスル塗れるラフさを重視
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 4</p>
                <p class="rip05__txt">
                    時間がたっても⾃然な⾊みが続くティント成分配合
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 5</p>
                <p class="rip05__txt">
                    唇がふっくらするプランピング成分配合。唇に潤いを与え、ぷっくりとした唇に。
                </p>
            </li>
            <li style="padding:0; height:2px;"></li>
        </ul>
    </div>
</div>

<div class="rip06">
    <div class="rip06__inner">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip05_img.png?v=1644565782" alt="" width="auto" height="auto" loading="lazy">
    </div>
</div>
<p class="rip06__txt">Velvet Fix Lip Balmは、フランスの世界的ヴィーガン認証機関のEVE（Expertise Vegane Europe）社から国際認証マーク「EVE VEGAN」を取得した商品です。動物の権利と環境、倫理的消費、製造過程での倫理性を大事にし、動物原料、動物実験原料、動物由来物質を排除した化粧品を対象としています。パッケージや容器だけでなく、製造施設の清潔さと交差汚染・混入防止のための生産設備があるのかも審査基準に含まれています。</p>


<div class="rip07">
    <div class="rip07__imgPc">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip6_free.png?v=1644570211" alt="" width="auto" height="auto" loading="lazy">
    </div>
    <div class="rip07__imgSp">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip6_freesp.png?v=1644570211" alt="" width="auto" height="auto" loading="lazy">
    </div>
</div>