<div class="rip05 rip05new">
    <div class="rip05__inner fadein_block2">

        <div class="rip05__fv">
            <div class="rip05__fv--img rip05__fv--rnimg">
                <span class="fadein02">
                    <picture>
                        <source srcset="{{ 'img_checkpoint-main.webp' | file_url }}"
                            type="image/webp">
                        <img src="{{ 'img_checkpoint-main.png' | file_url }}" alt="MICHI X SLY"
                            width="936" height="976" loading="eager">
                    </picture>
                </span>
            </div>
            <div class="rip05__fv--ttl">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip05_ttl.svg?v=1644988386"
                    alt="Velvet Fix Lip Balm check point" width="auto" height="auto" loading="lazy">
            </div>
            <div class="rip05__fv--checkpoint">
                <span class="fadein03">
                    <img src="{{ 'img_checkpoint-txts.svg' | file_url }}" alt="CHECKPOINT5"
                        width="134" height="151" loading="eager">
                 
                </span>
            </div>
        </div>
        <ul class="rip05__check">
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 1</p>
                <p class="rip05__txt">
                    ソフトマットでベルベットのような軽くて柔らかい<br>バームテクスチャー
                </p>
                <p class="rip05__note"><span>※保湿成分配合<br>（スイートアーモンドオイル、ホホバオイル、クプアスバター）</span><br>
                    <span>該当成分 ： アーモンド油、ホホバ種子油、テオブロマグランジフロルム種子脂</span></p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 2</p>
                <p class="rip05__txt">
                    唇に密着して、プライマーを塗ったような<br>ブラーフィルター効果を演出
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 3</p>
                <p class="rip05__txt">
                    マスクに付きづらく、鏡を見なくてもスルスル塗れる<br>ラフさを重視
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 4</p>
                <p class="rip05__txt">
                    時間がたっても⾃然な⾊みが続くティント成分配合
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 5</p>
                <p class="rip05__txt">
                    唇がふっくらするプランピング成分配合。<br>唇に潤いを与え、ぷっくりとした唇に。
                </p>
            </li>
            <li style="padding:0; height:2px;"></li>
        </ul>
    </div>
</div>