
<div class="rip05">
    <div class="rip05__inner fadein_block2">

    <div class="rip05__fv">
        <div class="rip05__fv--img">
            <span class="fadein02">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip05_img_09eac872-0352-4ab5-8aeb-fce44e52a51e.png?v=1644988406" alt="check point" width="auto" height="auto" loading="lazy">
        </span>
        </div>
        <div class="rip05__fv--ttl">
            <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip05_ttl.svg?v=1644988386" alt="Velvet Fix Lip Balm check point" width="auto" height="auto" loading="lazy">
        </div>
        <div class="rip05__fv--checkpoint">
            <span class="fadein03">
                <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/rip05_point.png?v=1644988406" alt="check 5 point" width="auto" height="auto" loading="lazy">
        </span>
        </div>
    </div>
        <ul class="rip05__check">
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 1</p>
                <p class="rip05__txt">
                    ソフトマットでベルベットのような軽くて柔らかいバームテクスチャー
                </p>
                <p class="rip05__note">※保湿成分配合<br>（スイートアーモンドオイル、ホホバオイル、クプアスバター）<br>
                <span>該当成分 ： アーモンド油、ホホバ種子油、テオブロマグランジフロルム種子脂</span></p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 2</p>
                <p class="rip05__txt">
                    唇に密着して、プライマーを塗ったようなブラーフィルター効果を演出
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 3</p>
                <p class="rip05__txt">
                    マスクに付きづらく、鏡を見なくてもスルスル塗れるラフさを重視
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 4</p>
                <p class="rip05__txt">
                    時間がたっても⾃然な⾊みが続くティント成分配合
                </p>
            </li>
            <li>
                <p class="rip05__subttl"><span>check</span>POINT 5</p>
                <p class="rip05__txt">
                    唇がふっくらするプランピング成分配合。唇に潤いを与え、ぷっくりとした唇に。
                </p>
            </li>
            <li style="padding:0; height:2px;"></li>
        </ul>
    </div>
</div> 