<div class="persePolicy">
    <p class="persePolicy__en">Legal Notice</p>
    <p class="persePolicy__sub">(  特定商取引法に基づく表記  )</p>

    <div class="persePolicy__content">
        <h2 class="persePolicy__subttl">■特定商取引法に基づく表記</h2>
        <p class="persePolicy__txtb mt20">会社名 株式会社 manomano</p>
        <p class="persePolicy__txtb mt20">運営責任者 福山 正之</p>
        <p class="persePolicy__txtb mt20">住所	〒141-0031　東京都品川区西五反田7-22-17</p>
        <p class="persePolicy__txtb mt20">電話番号 0120-811-047</p>
        <p class="persePolicy__txtb mt20">メールアドレス info@mano-mano.co.jp</p>
        <p class="persePolicy__txtb mt20">URL https://perseofficial.jp/</p>

        
        <h2 class="persePolicy__subttl" id="shippingFee">■商品以外の必要代金</h2>
        <p class="persePolicy__txtb">【配送料】<br>
        国内への発送：一律　税込 【330円】<br>
        配送地域によって送料が異なる場合がございます。
        </p>

        <h2 class="persePolicy__subttl">■決済方法</h2>
        <p class="persePolicy__txtb">配送先など必要情報を記入し、オンラインにてご注文を完了して下さい。</p>
        <p class="persePolicy__txtb mt20">・クレジットカード決済（Visa・Mastercard・American Express・JCB）</p>
        <p class="persePolicy__txtb mt20">・Amazon Pay</p>
        <p class="persePolicy__txtb mt20">・ペイディ（あと払い）</p>
        <p class="persePolicy__txtb" style="padding-left: 1em;">ペイディの請求内容に関しては、毎月請求確定分を月末締めで翌月1日に請求書を発行し、3日までにEメール・SMS（ショートメッセージ）にてご案内いたします。<br>
        ペイディの支払方法としては、コンビニ払い（コンビニ設置端末）、銀行振込及び口座振替となります。<br>
        ペイディの支払期日は、コンビニ払い及び銀行振込の場合は10日までとなります。口座振替の場合は12日*に引き落しとなります。<br>ただし、1月・5月度は20日*となる場合がございます。<br>
        ペイディの支払方法により、毎月のお支払（請求）毎に手数料が発生いたします。コンビニ払いの場合356円（税込）、銀行振込の場合は振込手数料をお客様にご負担いただきます。口座振替の場合、支払手数料は発生いたしません。</p>
        <p class="persePolicy__txtb mt20" style="padding-left: 1em;">- ペイディ支払方法</p>
        <p class="persePolicy__txtb" style="padding-left: 2em;">
        コンビニ	口座振替
        (銀行口座から自動引き落とし) <br>
        <br>
        銀行振込v
        支払期日	10日まで	12日*	10日まで<br>
        支払手数料<br>
        ※ご利用回数に関わらず、月一回のみ発生<br><br>
        
        356円(税込)	0円	金融機関により振込手数料が異なります<br>
        *金融機関休業日の場合は、翌営業日</p>

        {% comment %} <p class="persePolicy__txtb mt20">・ペイディ後払い</p> {% endcomment %}
        {% comment %} <p class="persePolicy__txtb mt20">・Apple Pay</p>
        <p class="persePolicy__txtb mt20">・Google Pay</p> {% endcomment %}
    
        <h2 class="persePolicy__subttl">■お届け時期</h2>
        <p class="persePolicy__txt mt20">・ご注文完了後、通常商品で約3営業日から5営業日での発送となります。
        　ただし、クレジットカード支払いの場合、処理状況により配送が遅れる場合がございますのでご了承ください。</p>
        <p class="persePolicy__txt mt20">・祝・土日を除く、月曜から金曜の発送になります。</p>
        <p class="persePolicy__txt mt20">・繁忙期や、悪天候等の事情によって記載の発送予定日から遅れる場合がございます、あらかじめご了承ください。</p>
        <p class="persePolicy__txt mt20">・到着日の指定はできません、配送時に送られるメールよりご自身で配送会社にご連絡をお願い致します。</p>
        <p class="persePolicy__txt mt20"></p>
        <p class="persePolicy__txt mt20"></p>


        <h2 class="persePolicy__subttl">▼同梱発送について</h2>
        <p class="persePolicy__txt mt20">システム上の理由から予約商品と通常商品の同梱及び、ご注文番号の異なる通常商品同士の同梱はいたしかねます。 配送センターとのやり取りや、同梱発送のご準備により発送全体に遅延が生じかねませんため、そのようにさせていただいております。何卒ご了承くださいませ。</p>


        <h2 class="persePolicy__subttl">■キャンセル・返品・交換について</h2>
        <p class="persePolicy__txt mt20"><a href="/policies/refund-policy/" style="color: #f08984;">別途、返品・キャンセルのルール</a>をご確認ください。</p>
    </div>
</div>
<div class="footer__fluid" style="margin: 0 0 60px;">
    <p class="footer__fluid--txt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.svg?v=1647228464" alt="" width="auto" height="auto" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.svg?v=1647228464" alt="loop2" width="auto" height="auto" loading="lazy">
    </p>
</div>
