<div class="persePolicy">
    <p class="persePolicy__en">Legal Notice</p>
    <p class="persePolicy__sub">(  特定商取引法に基づく表記  )</p>

    <div class="persePolicy__content">
        <h2 class="persePolicy__subttl">■特定商取引法に基づく表記</h2>
        <p class="persePolicy__txtb mt20">会社名 株式会社 manomano</p>
        <p class="persePolicy__txtb mt20">運営責任者 福山 正之</p>
        <p class="persePolicy__txtb mt20">住所	〒141-0031　東京都品川区西五反田7-22-17</p>
        <p class="persePolicy__txtb mt20">電話番号 0120-811-047</p>
        <p class="persePolicy__txtb mt20">メールアドレス info@mano-mano.co.jp</p>
        <p class="persePolicy__txtb mt20">URL https://perseofficial.jp/</p>

        
        <h2 class="persePolicy__subttl">■商品以外の必要代金</h2>
        <p class="persePolicy__txtb">【配送料】<br>
        国内への発送：一律　税込 【330円】<br>
        配送地域によって送料が異なる場合がございます。
        </p>

        <h2 class="persePolicy__subttl">■決済方法</h2>
        <p class="persePolicy__txtb">配送先など必要情報を記入し、オンラインにてご注文を完了して下さい。</p>
        <p class="persePolicy__txtb mt20">・クレジットカード決済（Visa・Mastercard・American Express・JCB）</p>
        <p class="persePolicy__txtb mt20">・ペイディ後払い</p>
        <p class="persePolicy__txtb mt20">・Apple Pay</p>
        <p class="persePolicy__txtb mt20">・Google Pay
    
        <h2 class="persePolicy__subttl">■お届け時期</h2>
        <p class="persePolicy__txt mt20">・ご注文完了後、通常商品で約3営業日から5営業日での発送となります。
        　ただし、クレジットカード支払いの場合、処理状況により配送が遅れる場合がございますのでご了承ください。</p>
        <p class="persePolicy__txt mt20">・祝・土日を除く、月曜から金曜の発送になります。</p>
        <p class="persePolicy__txt mt20">・繁忙期や、悪天候等の事情によって記載の発送予定日から遅れる場合がございます、あらかじめご了承ください。</p>
        <p class="persePolicy__txt mt20">・到着日の指定はできません、配送時に送られるメールよりご自身で配送会社にご連絡をお願い致します。</p>
        <p class="persePolicy__txt mt20"></p>
        <p class="persePolicy__txt mt20"></p>


        <h2 class="persePolicy__subttl">▼同梱発送について</h2>
        <p class="persePolicy__txt mt20">システム上の理由から予約商品と通常商品の同梱及び、ご注文番号の異なる通常商品同士の同梱はいたしかねます。 配送センターとのやり取りや、同梱発送のご準備により発送全体に遅延が生じかねませんため、そのようにさせていただいております。何卒ご了承くださいませ。</p>


        <h2 class="persePolicy__subttl">■キャンセル・返品・交換について</h2>
        <p class="persePolicy__txt mt20">別途、返品・キャンセルのルールをご確認ください。</p>
    </div>
</div>
<div class="footer__fluid" style="margin: 0 0 60px;">
    <p class="footer__fluid--txt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.png" alt="" width="auto" height="auto" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.png" alt="loop2" width="auto" height="auto" loading="lazy">
    </p>
</div>
