<div class="persePolicy">
    <p class="persePolicy__en">Regarding Shipping Fee</p>
    <p class="persePolicy__sub">(  送料に関して   )</p>

    <div class="persePolicy__content">
       
    </div>
</div>
<div class="footer__fluid" style="margin: 0 0 60px;">
    <p class="footer__fluid--txt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.png" alt="" width="auto" height="auto" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.png" alt="loop2" width="auto" height="auto" loading="lazy">
    </p>
</div>
<p class="persePolicy__txtb"></p>
<p class="persePolicy__txt"></p>

<h2 class="persePolicy__subttl"></h2>
<p class="persePolicy__txt"></p>
<p class="persePolicy__txtb"></p>
<p class="persePolicy__txtb"></p>