<div class="persePolicy">
    <p class="persePolicy__en">Terms of service</p>
    <p class="persePolicy__sub">(  利用規約  )</p>

    <div class="persePolicy__content">
        <p class="persePolicy__txt">株式会社mano mano（以下、「当社」といいます）は、自ら管理運営するサイトである「CRAN BY MOLAK」（PCサイト、タブレットサイト、スマートフォンサイト、によるご提供を含み、以下、総合して、「当サイト」といいます）の利用規約（以下、「本規約」といいます）を次のとおり定めるものとします。お客様が当サイトで商品を購入される場合は、この規約に同意されたものとされますので、本規約をよくお読みください。</p>

        <h2 class="persePolicy__subttl">（1）個人情報保護について</h2>
        <p class="persePolicy__txt">個人情報保護方針・プライバシーポリシーは、お客様が当サイトを利用される場合に適用されます。よくお読みになり、ご理解いただきますようお願いいたします。＞プライバシーポリシーについて</p>

        <h2 class="persePolicy__subttl">（2）電子的コミュニケーション</h2>
        <p class="persePolicy__txt">お客様が当サイトにアクセスし、または、当社にEメールを送信するときは、お客様は当社と電子的にコミュニケーションをとっていることになります。お客様は、当社から電子的な方法で連絡を受けることに同意するものとします。当社からお客様へのご連絡は、Eメールまたは当サイトにお知らせを掲載する方法で行います。お客様は、全ての合意、お知らせ、情報開示その他のご連絡を当社がお客様に電子的に行うことをもって、それらのご連絡を書面で行うことを求める法的要請を充たしているものとすることに同意することとします。</p>

        <h2 class="persePolicy__subttl">（3）ご注文方法・アカウント</h2>
        <p class="persePolicy__txt">商品のご注文は、当サイト上に記載されている必要事項を記入し、これをオンラインで当社に送信する方法により行っていただきます。</p>
        <p class="persePolicy__txt mt20">当社は、ここでご入力いただいた情報をもとに、ご注文から配送までの手続きを行いますので、ご入力の際はくれぐれもお間違いのないようお願いいたします。</p>
        <p class="persePolicy__txt mt20">当サイトをご利用になる場合、お客様はご自分のアカウントおよびパスワードの管理責任を負うものとします。また、お客様のアカウントおよびパスワードを使って行われる行為に対し、お客様自身の行為であるか否かを問わず、責任を認めることに同意するものとします。お客様は、アカウントおよびパスワードが第三者によって不正に使用されていることが判明した場合には、直ちに当社に連絡するものとします。</p>

        <h2 class="persePolicy__subttl">（４）契約の成立</h2>
        <p class="persePolicy__txt">当サイトにて商品をご注文いただくと、ご注文の受領確認とご注文内容を記載した「ご注文の確認」メールが当サイトから送信されます。お客様からのご注文は、商品購入についての契約の申込となります。当社が販売する商品をご注文いただいた場合、当サイトから「ご注文の発送」メールがお客様に送信されたときにお客様の契約申し込みは承諾され、契約が成立します。</p>
        <p class="persePolicy__txt mt20">一度に複数の商品をご注文いただいた際、一括で商品が出荷されない場合があります。その場合は、それぞれ商品が出荷されるタイミングで「ご注文の発送」メールが送信され、その送信をもって各々の契約が成立するものとします。</p>


        <h2 class="persePolicy__subttl">（5）注文内容の変更・キャンセル</h2>
        <p class="persePolicy__txt">当社は、原則として、お客様からのご注文を受信後ただちに商品の出荷処理を行いますので、商品のご注文後のお取消しおよびご変更はできません。ただし、一部のサイトでは、発送準備を開始する前に限り、オンラインで注文内容の変更またはキャンセルをすることができます。</p>
        <p class="persePolicy__txt mt20">当社は、お客様が以下の各号の何れかに該当することが判明した場合、契約が成立した後でも、売買契約の取り消し、および当該お客様の当サイト利用停止等をする場合があるものとします。</p>
        <p class="persePolicy__txt mt20">・親権者の同意を得ていない未成年者である場合</p>
        <p class="persePolicy__txt mt20">・過去に本規約およびその他の当社規約に違反したことがある場合</p>
        <p class="persePolicy__txt mt20">・利用時の申告事項に、悪質な虚偽、または重大な誤記、記入漏れがあった場合</p>
        <p class="persePolicy__txt mt20">・当社へのお支払を怠ったことがある場合</p>
        <p class="persePolicy__txt mt20">・商品の購入にあたり、当社の与信審査の結果、お支払方法の変更を依頼した場合に、お客様が指定の支払方法に変更できない場合</p>
        <p class="persePolicy__txt mt20">・当社または提携企業の業務遂行を妨げる行為を行った場合</p>
        <p class="persePolicy__txt mt20">・合理的な理由なく返品または受取拒否を繰り返し行ったことがある場合</p>
        <p class="persePolicy__txt mt20">・その他当社が不適当であると判断した場合</p>

        <h2 class="persePolicy__subttl">（6）配送</h2>
        <p class="persePolicy__txt">当社は、ご注文受付後、定形外郵便、ゆうパケット、クリックポスト、レターパック、ネコポスで3～7日（離島はこの限りではありません）で商品がポストに投函、もしくはゆうパック、クロネコ宅急便、飛脚宅急便、エコ配、カンガルー便で配達されます。しかしながら、配送地域、自然災害、交通状況や、ご注文商品に空輸禁止商品が含まれている場合等の様々な事情によりお届けが遅れる場合があります。また、商品の供給不足等により、商品を発送するまでに時間がかかったり、ご注文を受けられなかったりする場合がありますので、予めご了承ください。</p>
        <p class="persePolicy__txt mt20">商品の在庫状況や大きさによっては、ご注文いただいたお荷物を2口以上に分けてお送りする場合があります。</p>
        <p class="persePolicy__txt mt20">長期にわたりご注文商品を受け取っていただけない場合は、当該ご注文をキャンセルさせていただくことがあります。</p>

        <h2 class="persePolicy__subttl">（7）所有権の移転・危険負担</h2>
        <p class="persePolicy__txt">商品に関する所有権と危険負担は、当社が商品を配送業者に引き渡した時点でお客様に移ります。</p>
        
        <h2 class="persePolicy__subttl">（8）お支払方法</h2>
        <p class="persePolicy__txt">当サイトでご利用いただけるお支払方法は、クレジット決済、ペイディ後払い、AmazonPay、ApplePay、GooglePayの5通りとなります。それぞれにかかる手数料は違いますのでご確認ください。</p>
        

        <h2 class="persePolicy__subttl">（9）返品</h2>
        <p class="persePolicy__txt">当社は、原則として返品を受け付けません。ただし、商品に次のような不具合があり、且つ商品到着後から8日以内にご連絡いただいた場合に限り、返品をお受けいたします。この場合の返品送料は当社が負担します。</p>
        <p class="persePolicy__txt mt20">配送中の事故による商品の破損がある場合（ただし、追跡番号の発行された配送物の破損については、その限りではありません）</p>
        <p class="persePolicy__txt mt20">※追跡番号の発行された配送物の破損については、配送業者へお問い合わせください。    </p>
        <p class="persePolicy__txt mt20">・商品に瑕疵があった（不良品だった）場合</p>
        <p class="persePolicy__txt mt20">・ご注文内容と異なる商品が届いた場合</p>
        <p class="persePolicy__txt mt20">・その他、当サイトが返品・交換の必要があると認める場合</p>
        <p class="persePolicy__txt mt20">「間違って注文してしまった」など、お客様のご都合による返品はお受けしておりません。</p>
        <p class="persePolicy__txt mt20">メーカー様の都合による商品のパッケージが変更になる場合（パッケージの相違）や、外装の汚れ・傷・はがれ等がある場合でも、商品自体に明らかな破損・汚損等が認められない場合は、返品・交換には応じかねます。    </p>
        <p class="persePolicy__txt mt20">代引き決済によるご注文で、お客様からのご連絡が無い場合の受取拒否や、お客様のご都合による長期不在等での返品はお受けいたしかねます。</p>
        <p class="persePolicy__txt mt20">返品制限対象商品と明記されている商品は、以下の条件を満たす場合に限り返品をお受けいたします。</p>
        <p class="persePolicy__txt mt20">未開封であること</p>
        <p class="persePolicy__txt mt20">お届けから8日以内に返品したい旨のご連絡をいただいていること</p>
        <p class="persePolicy__txt mt20">ただし、商品の性質（衛生商品等）上、上記の条件を満たしていても返品をお受けできないことがあります。</p>

        <h2 class="persePolicy__subttl">（10）商品説明</h2>
        <p class="persePolicy__txt">当社は、商品説明または当サイトその他のコンテンツに関して、可能な限り正確性を保つように努めております。しかし、当社は、商品説明または当サイトその他のコンテンツ全てが正確である、完全である、信頼性がある、最新のものである、または誤りがないことを確実に保証するものではありません。ご使用の前には、商品の外包に記載される説明や添付されている説明書をいまいちどご確認ください。</p>

        <h2 class="persePolicy__subttl">（11）価格、仕様等の改定</h2>
        <p class="persePolicy__txt">当サイトに掲載される商品等の価格または仕様等につきましては、予告なく変更され、もしくは取り扱いが中止される場合がございます。</p>

        <h2 class="persePolicy__subttl">（12）商品の価格</h2>
        <p class="persePolicy__txt">当サイトの「価格」欄には当サイトでの販売価格を表示しています。「参考価格」欄が表示されている場合には、別段の記載が無い限り、メーカー等が広く消費者に告知している価格（商品パッケージやカタログ等への表記によるもので一般にメーカー希望小売価格と呼ばれるもの）または広く小売業者に告知している価格（一般に参考小売価格等と呼ばれるもの）を表示しています。一つの商品について二種類の価格を表示し、その一方が取り消し線つきで表示されている場合、取り消し線つきのものが「参考価格」であり、他方が「価格」です。表示されている価格が一つしかない場合はそれが「価格」になります。</p>
        <p class="persePolicy__txt mt20">当サイトでは、正確な商品情報を表示するよう最善の努力をしていますが、万が一商品の誤った価格または価格に関連する情報（以下「価格」）がサイト上に表示されていた場合は、次のように価格調整をさせていただきます。</p>
        <p class="persePolicy__txt mt20">商品の正しい価格が、当サイトに表示されていた価格より低い場合は、その低い方の価格で請求させていただきます。    </p>
        <p class="persePolicy__txt mt20">商品の正しい価格が、当サイトに表示されていた価格より高い場合は、発送前にお客様に正しい価格をお知らせした上で、そのまま購入されるか、ご注文をキャンセルされるか選択いただきます。正しい価格のお知らせ後、2週間経過するまでお客様からのご連絡がない場合は、ご注文をキャンセルされたものとみなします。</p>
        <p class="persePolicy__txt mt20">当社は、本サイト上のすべての価格情報が正確であるように努めますが、システム障害によるエラーや人為的誤表記等の障害およびエラーが発生し、本商品の価格に誤りがある場合があります。</p>
        <p class="persePolicy__txt mt20">本商品の正確な価格が、本サイト上の価格と異なる場合、当社はお客様に連絡しご注文をキャンセルし、正しい価格で新たにご注文することを希望されるか伺い、もしくはお客様のご注文を承諾しません。</p>
        <p class="persePolicy__txt mt20">当社は、ご注文の一部である本商品の価格がエラーにより不正確だった場合、ご注文を承諾する義務を負いません。</p>

        <h2 class="persePolicy__subttl">（13）著作権</h2>
        <p class="persePolicy__txt">当サイト上に表示してある写真・文章その他の著作権等すべての権利は当社または当社に権利を許諾した第三者に属します。著作権法等の法律に明示的に認められる場合を除き、無断での複写・転載・加工その他の使用をすることはできません。</p>

        <h2 class="persePolicy__subttl">（14）商標</h2>
        <p class="persePolicy__txt">当サイト上で使用される商標（トレードマーク、サービスマーク）は、当社または当社に使用を許諾した権利者に帰属します。また、当社の商標は、お客様に混同を生ずるおそれのある方法や、当社の名誉または信用を傷つける方法で、当社のものではない製品またはサービスに関して用いることはできませんのでご注意ください。</p>

        <h2 class="persePolicy__subttl">（15）免責事項</h2>
        <p class="persePolicy__txt">当社は、天災・天候・ハッカー等の不正アクセス等の第三者による不当行為・システムトラブルその他の予期せぬ事情によってお客様または第三者に損害が発生した場合、責任を負いかねますので、あらかじめご了承ください。</p>
        <p class="persePolicy__txt mt20">当社は、当サイト、情報、コンテンツ、材料、商品、サイト上に含まれるあるいは提供されるサービス、サーバー、当サイトから送信されたEメールが、コンピュータウイルス等の有害なものが含まれていないことを保証いたしません。</p>
        <p class="persePolicy__txt mt20">当サイトに記載されたテキスト、商品、価格、画像、ファイル、メニュー、デザイン、機能、URL、その他すべてのコンテンツは予告無く、追加または変更、削除される場合があります。</p>
        <p class="persePolicy__txt mt20">万が一、当サイトのご利用により、お客様または第三者に損害が発生した場合、当社は売買契約に関するもの以外のいかなる損害に対しても責任を負いかねますので、あらかじめご了承ください。</p>
        <p class="persePolicy__txt mt20">情報の提供、サービスの提供、商品の販売などを目的として、当社以外の第三者が管理するウェブサイトにリンクする場合があります。当社は、そのサイトに含まれている情報、サービス等については、評価、保証はいたしません。</p>

        <h2 class="persePolicy__subttl">（16）本規約等の変更</h2>
        <p class="persePolicy__txt">本規約または個々のサービスにおける規約に別段の定めがある場合を除き、規約を改定した場合は、あらかじめ当サイトに改定内容等を告知し、お客様がこれに同意することにより改定後の規約が適用されるものとします。改定日以降にお客様が本サービスを利用した場合、お客様が改定後の本規約に同意したものとみなします。</p>

        <h2 class="persePolicy__subttl">（17）利用契約上の地位の譲渡等</h2>
        <p class="persePolicy__txt">お客様は、当社の書面による事前の承諾なく、利用契約の地位または本規約にもとづく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。</p>
        <p class="persePolicy__txt mt20 ">当社は、当サイトにかかる事業を他社に譲渡した場合には、当概事業譲渡に伴い、利用契約上の地位、本規約にもとづく権利および義務ならびにお客様の登録事項その他の顧客情報を当概事業譲渡の譲受人に譲渡することができるものとし、お客様は、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</p>

        <h2 class="persePolicy__subttl">（18）分離可能性</h2>
        <p class="persePolicy__txt">本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定および一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。</p>

        <h2 class="persePolicy__subttl">（19）準拠法・裁判管轄</h2>
        <p class="persePolicy__txt">本規約の準拠法は日本法とします。なお、本サービスにおいて物品の売買が発生する場合でも、国際物品売買契約に関する国際連合の条約の適用を排除することに合意します。</p>
        <p class="persePolicy__txt mt20">本規約に起因し、または関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
    </div>
</div>
<div class="footer__fluid" style="margin: 0 0 60px;">
    <p class="footer__fluid--txt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.png" alt="" width="auto" height="auto" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.png" alt="loop2" width="auto" height="auto" loading="lazy">
    </p>
</div>
<p class="persePolicy__txtb"></p>
<p class="persePolicy__txt"></p>

<h2 class="persePolicy__subttl"></h2>
<p class="persePolicy__txt"></p>
<p class="persePolicy__txtb"></p>
<p class="persePolicy__txtb"></p>