body {
  background: #f6f2ef;
}

.footer {
  background: #f6f2ef;
}
.footer p {
  margin: 0;
}

@media screen and (max-width: 750px) {
  .pfooter {
    width: 100vw;
    background: #f6f2ef;
    margin: 0 auto;
  }
  .pfooter__copy {
    color: #ed8a84;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 751px) {
  .pfooter {
    width: 100vw;
    background: #f6f2ef;
    margin: 0 auto;
  }
  .pfooter__copy {
    color: #ed8a84;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (min-width: 990px) {
  .pfooter {
    min-height: 500px;
    background: #f6f2ef;
    width: 1120px;
    margin: 0 auto;
  }
  .pfooter__copy {
    color: #ed8a84;
    display: block;
    margin: 0 auto;
  }
}