@charset "utf-8";
@import "_reset";

.phome {
    display: block;
    &__slide {
        width: 100%;
        padding: 0;
        .slick-dots {
            bottom: -40px;
        }
    
        .slick-dots li {
            margin: 0 8px;
            width: 70px;
            height: 2px !important;
    
            button {
                height: 2px !important;
    
            }
        }
    
        .slick-dots li button:before {
            content: '';
            width: 70px;
            height: 2px !important;
            background: #DDDDDD;
            opacity: 1;
        }
    
        .slick-dots li.slick-active button:before {
            background: #F08984;
        }
        img {
            width: 100%;
        }

        &--wrapper {
            max-width: 569px;
            width: 100%;
            margin: 0 auto 140px;
            position: relative;
            display: block;
        }

        &--frame {
            position: absolute;
            left: 0;
            top: 0;
            max-width: 569px;
            width: 569px;
            height: 100%;
            display: block;
            z-index: 1;
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/frame.svg?v=1644289169') no-repeat 0 0;
            background-size: 100% auto;
            text-indent: -9999px;
            white-space: nowrap;
        }
        &--name{
            margin: -390px auto 0;
            width: 362px;
            padding-bottom: 210px;
            img{
                width: 100%;
            }
        }
    }
    &__brand{
        &--ttl{
            text-align: center;
            font-family: 'Outfit', sans-serif;
            font-size: 1.5rem;
            color: $CR;
            margin: 0 auto !important;
        }
        &--blc{
            max-width: 924px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            padding: 0!important;
            text-align: center;
        }
        &--concept{
            white-space: nowrap;
            text-indent: -9999px;
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/subttl_brand.svg') no-repeat 0 0;
            background-size: 100% auto;
            width: 444px;
            height: 40px;
            margin: -10px auto 54px!important;
            display: inline-block;
            position: relative;
            top: 0;
        }
        &--spconcept{
            display: none;
        }
        &--txt{
            color: $CR;
            text-align: center;
            font-size: 1.56rem;
            line-height: 2;
            display: block;
            position: relative;
        }
        &--en{
            font-family: 'Outfit', sans-serif;
            text-align: center;
            color: $CR;
            font-size: 1.2rem;
            line-height: 1.4;
            margin: 96px auto 0!important;
            padding-bottom: 220px!important;
            display: block;
            position: relative;
        }
        &--img01{
            position: absolute;
            width: 150px;
            height: 150px;
            top: 42px;
            left: 20px;
            img{
                width: 100%;
            }

        }
        &--img02{
            position: absolute;
            width: 254px;
            height: 350px;
            top: 116px;
            right: 0px;
            img{
                width: 100%;
            }

        }
        &--img03{
            position: absolute;
            width: 190px;
            height: 244px;
            top: 238px;
            left: 52px;
            img{
                width: 100%;
            }

        }
    }
    &__product{
        border-top: solid 1px $CR;
        border-bottom: solid 1px $CR;
        margin: 0 0 100px!important;
        &--inner{
            max-width: 1060px;
            width: 100%;
            margin: 0 auto!important;
            border-right: solid 1px $CR;
            border-left: solid 1px $CR;
            display: flex;
        }
        &--sub{
            text-align: center;
            font-size: 1.3rem;
            color: #00000a;
        }
        &--rip{
            width: 50%;
            border-right: solid 1px $CR;
            padding: 60px 0;
        }
        &--lenz{
            width: 50%;
            padding: 60px 0;
        }
        &--ripttl{
            text-align: center;
            color: $CR;
            font-family: 'Outfit', sans-serif
        }
        &--ripsub{
            white-space: nowrap;
            text-indent: -9999px;
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/subttl_rip.svg?v=1644345289') no-repeat 0 0;
            width: 413px;
            height: 43px;
            display: block;
            background-size: 100% auto;
            margin: 0 auto;
        }
        &--lenzttl{
            text-align: center;
            color:#769dac;
            font-family: 'Outfit', sans-serif
        }
        &--lenzsub{
            white-space: nowrap;
            text-indent: -9999px;
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/subttl_lenz.svg?v=1644380784') no-repeat 0 0;
            width: 421px;
            height: 43px;
            display: block;
            background-size: 100% auto;
            margin: 0 auto;
        }
        &--slickkado{
            width: 61px;
            height: 61px;
            position: absolute;
            top: 0;
            left: 93px;
            text-indent: -9999px;
            white-space: nowrap;
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/slick-leftImg.png?v=1644378734') no-repeat 0 0;
            background-size: 100% auto;
        }
        &--slick{
            margin: 0!important;
            padding: 0 !important;
            width: 100%;
            position: relative;
            & + li{
              margin: 0 auto;
            }
        　  .slick-arrow:before{
            content:""!important;
            width: 25px!important;
            height: 20px!important;
            position: absolute;
            top: 0;
            left: 0;
            }
            .slick-prev:before, .slick-next:before{
                width: 25px!important;
                height: 20px!important;
                opacity: 1;
                display: block;
                content: "";
                font-size: 0;
            }
            .slick-arrow{
                z-index:2!important;
                // width: 37px!important;
                // height: 32px!important;
                width: 25px!important;
                height: 20px!important;
            }

            .slick-next:before{
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/slickarrowR.png?v=1644376444')!important;
                background-size: contain!important;
            }

            .slick-prev:before{
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/slickarrowL.png?v=1644376444')!important;
                background-size: contain!important;
            }
            .slick-dots li:nth-of-type(1) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip01.png?v=1644375012") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }
            .slick-dots li:nth-of-type(2) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip02.png?v=1644375012") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }
            .slick-dots li:nth-of-type(3) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip03.png?v=1644375012") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }
            .slick-dots li:nth-of-type(4) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip04.png?v=1644375012") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }
            
            .slick-dots li.slick-active:nth-of-type(1) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip01_active.png?v=1644375012") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }

            .slick-dots li.slick-active:nth-of-type(2) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip02_active.png?v=1644375012") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }

            .slick-dots li.slick-active:nth-of-type(3) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip03_active.png?v=1644375012") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }

            .slick-dots li.slick-active:nth-of-type(4) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_rip04_active.png?v=1644375012") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }
            .slick-active button:before{
                content: ''!important;
                height: 23px!important;
                width: 23px!important;
                // height: 17px!important;
                // width: 17px!important;
            }
            .slick-dots li{
                height: 23px!important;
                width: 23px!important;
                margin: 0 12px!important;
            }
            .slick-dots li button{
                height: 23px!important;
                width: 23px!important;
            }
            .slick-dots li button:before{
                height: 23px!important;
                width: 23px!important;
            }
            .slick-dots{    
                bottom: initial!important;
                margin-top: -73px!important;
            }
        }
        &--slick02wrap{
            position: absolute;
            top: 280px;
            width: 340px;
            z-index: 3;
            padding-left: 120px;
            right: -10px;
        }
        &--slick03{
            margin: 0!important;
            padding: 0 !important;
            width: 100%;
            position: relative;
            & + li{
              margin: 0 auto;
            }
        　.slick-arrow:before{
            content:""!important;
            width: 25px!important;
            height: 20px!important;
            position: absolute;
            top: 0;
            left: 0;
            }
            .slick-prev:before, .slick-next:before{
                width: 25px!important;
                height: 20px!important;
                opacity: 1;
                display: block;
                content: "";
                font-size: 0;
            }
            .slick-arrow{
                z-index:2!important;
                // width: 37px!important;
                // height: 32px!important;
                width: 25px!important;
                height: 20px!important;
            }

            .slick-next:before{
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/slickRarrowL.png?v=1644384782')!important;
                background-size: contain!important;
            }

            .slick-prev:before{
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/slickLarrowL.png?v=1644384782')!important;
                background-size: contain!important;
            }
            .slick-dots li:nth-of-type(1) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_lenz01.png?v=1644383875") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }
            .slick-dots li:nth-of-type(2) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_lenz02.png?v=1644383875") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }
            .slick-dots li:nth-of-type(3) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_lenz03.png?v=1644383875") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }
            .slick-dots li:nth-of-type(4) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_lenz04.png?v=1644383875") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }
            
            .slick-dots li.slick-active:nth-of-type(1) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_lenz01_active.png?v=1644383875") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }

            .slick-dots li.slick-active:nth-of-type(2) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_lenz02_active.png?v=1644383875") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }

            .slick-dots li.slick-active:nth-of-type(3) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_lenz03_active.png?v=1644383875") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }

            .slick-dots li.slick-active:nth-of-type(4) button:before{
                background: url("https://cdn.shopify.com/s/files/1/0618/4593/0220/files/dot_lenz04_active.png?v=1644383875") no-repeat;
                background-size: 100% auto;
                opacity: 1;
                content:"";
            }
            .slick-active button:before{
                content: ''!important;
                height: 23px!important;
                width: 23px!important;
                // height: 17px!important;
                // width: 17px!important;
            }
            .slick-dots li{
                height: 23px!important;
                width: 23px!important;
                margin: 0 12px!important;
            }
            .slick-dots li button{
                height: 23px!important;
                width: 23px!important;
            }
            .slick-dots li button:before{
                height: 23px!important;
                width: 23px!important;
            }
            .slick-dots{    
                bottom: initial!important;
                margin-top: -73px!important;
            }
        }
        &--slickbtn{
            text-align: center;
            line-height: 1!important;
            a{
                text-decoration: none;
                color: #fff;
                background: $CR;
                padding: 12px 35px;
                border-radius: 40px;
                font-size: 1.4rem;
                display: inline-block;
                line-height: 1!important;
                font-family: 'Outfit', sans-serif;
            }
        }
        &--slickdisable{
            text-align: center;
            line-height: 1!important;
  
            span{
                text-decoration: none;
                color: #fff;
                background: #e8e3dd;
                padding: 12px 35px;
                border-radius: 40px;
                font-size: 1.4rem;
                display: inline-block;
                line-height: 1!important;
                font-family: 'Outfit', sans-serif;
            }
        }
        &--slickwrap{
            position: relative;
            padding: 0 94px;   
        }
        &--slickImg{
            width: 100%;
            position: relative;
            img{
                width: 100%;
            }
        }
        &--slickpro{
            width: 126px;
            height: 156px;
            img{
                width: 100%;
            }
        }
        &--slickname{
            text-align: center;
            color: #8d8d8d;
            font-size: 1.3rem;
            line-height: 1;
            margin: 80px 0 0!important;
        }
        &--price{
            text-align: center;
            color:$CR;
            font-family: 'Outfit', sans-serif;
            font-size: 2rem;
            line-height: 1;
            margin: 15px 0 20px!important;

           span{
                font-size: 1.6rem;
            }

        }
        &--lenzprice{
            text-align: center;
            font-family: 'Outfit', sans-serif;
            font-size: 2rem;
            line-height: 1;
            margin: 15px 0 20px!important;
            color:#769dac!important;

           span{
                font-size: 1.6rem;
            }
        }
        &--comming{
            display: block;
            width: 140px;
            height: 83px;
            position: absolute;
            right: 86px;
            top: 155px;
            animation: rotate-anime 3s linear infinite;
        }
    }
    &__pararaPc{
        margin-top: 300px;
        width: 1058px;
        height: 421px;  
        background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_parara4.png?v=1644340515') no-repeat;
        margin: 0 auto 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center top;
        background-attachment: fixed;
        background-position: center calc(80% - 100px);
        &--ttl{
            img{
                width: 353px;
            }
        }
    }
    &__pararaSp{
        display: none;
    }
    &__produce{
        width: 1060px;
        height: 817px;
        margin: 0 auto 130px;
        position: relative;
        &--rblc{
            border: solid 1px $CR;
            width: 556px;
            height: 754px;
            border-top-right-radius: 48px;
            padding: 40px 78px 0 70px;
        }
        &--rttl{
            text-align: left;
            font-size: 1.3rem;
            color: $CR;
        }
        &--rsubttl{
            white-space: nowrap;
            text-indent: -9999px;
            width: 345px;
            height: 33px;
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/ttl_produce.svg') no-repeat 0 0;
            background-size: 100% auto;
        }
        &--txt{
            font-family: 'Outfit', sans-serif;
            color: $CR;
            font-size: 1.1rem;
            line-height: 1.3;
        }
        &--image{
            display: block;
            margin: 33px 0 13px;
            img{
                width: 100%;
            }
        }
        &--imageSp{
            display: none;
        }

        &--sign{
            width: 354px;
            height: 134px;
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
        &--imgs{
            margin: 0 auto 30px!important;
            width: 209px;
            height: 244px;
            img{
                width: 100%;
            }
        }
        &--imgsSp{
            display: none;
        }
        &--stxt{
            color: #FFF;
            font-size: 15px;
            line-height: 1.8;
            margin-bottom: 30px!important;
        }
        &--lblc{
            position: absolute;
            border-top-left-radius: 112px;
            background: $CR;
            width: 540px;
            height: 750px;
            bottom: 0;
            right: 0;
            white-space: nowrap;
            text-indent: -9999px;
            opacity: 0;
            &.is-show{
                opacity: 1;
                animation-name:fadeUpAnime50;
                animation-duration:0.8s;
            }
        }
        &--lblcIn{
            position: absolute;
            width: 540px;
            height: 750px;
            bottom: 0;
            right: 0;
            padding: 40px 70px;
            
        }
        &--ltxt{
            text-align: center;
            line-height: 1.4;
            font-size: 1.6rem;
            margin: 0 0 46px!important;
            font-family: 'Outfit', sans-serif;
            span{
                color: #FFF;
                border-bottom: solid 1px #fff;
                display: inline-block;

            }
        }
    }

}
@keyframes fadeUpAnime50{
    from {
    opacity: 0;
    transform: translateY(50px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}
@keyframes rotate-anime {
    0%  {transform: rotate(0);}
    100%  {transform: rotate(360deg);}
  }
            
.slick-next{
right: -52px!important;
top: 198px!important;
}

.slick-prev{
left: -52px!important;
top: 198px!important;
}
//フワーっと
.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    opacity:0;
}
@keyframes fadeUpAnime{
    from {
    opacity: 0;
    transform: translateY(100px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}
  
.fadeUpTrigger{
    opacity: 0;
}

.fadein01, .fadein02, .fadein03 {
    opacity: 0;
    transition: all 600ms;
    transform : translate(0, 50px);
}
.fadein04, .fadein05, .fadein06 {
    opacity: 0;
    transition: all 600ms;
    transform : translate(0, 50px);
}
.fadein01 {
    &.scrollin{
        opacity: 1;
    }
}
.fadein02 {
    &.scrollin{
        opacity: 1;
    }
}
.fadein03 {
    &.scrollin{
        opacity: 1;
    }
}
.fadein04 {
    &.scrollin{
        opacity: 1;
    }
}
.fadein05 {
    &.scrollin{
        opacity: 1;
    }
}
.fadein06 {
    &.scrollin{
        opacity: 1;
    }
}

//sp
@media screen and (max-width: $BP) {
    .slick-next{
        right: -12vw!important;
        top: 198px!important;
        }
        
        .slick-prev{
        left: -12vw!important;
        top: 198px!important;
        }
    .phome {
        &__slide {
            width: 100%;
            padding: 0;
            margin: 0;
            img {
                width: 100%;
            }
            &--wrapper {
                max-width: 100%;
                width: 90vw;
                margin: 0 0 17.6vw 10%;
                position: relative;
            }
            &--frame {
                max-width: 100%;
                width: 100%;
                height: 100%;
            }
            &--name{
                margin: -58vw auto 0;
                width: 58.13vw;
                height: 28.8vw;
                padding-left: 10vw;
                padding-bottom: 58vw;
                img{
                    width: 100%;
                }
            }
        }

        .slick-dots {
            bottom: -40px;
        }
    
        .slick-dots li {
            margin: 0 8px;
            width: 13.86vw;
        }
        .slick-dots li button:before {
            width: 13.86vw;
        }
        &__brand{
            margin-bottom: 15vw;
            &--ttl{
                font-size: 1.1rem;
                margin: 30px auto 0!important;
            }
            &--blc{
                max-width: 100vw;
                width: 100%;
                margin: 0 auto;
                height: 180vw;
                position: relative;
                padding: 0!important;
                text-align: center;
            }
            &--concept{
                display: none;
            }
            &--spconcept{
                white-space: nowrap;
                text-indent: -9999px;
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/subttl_spbrand.svg') no-repeat 0 0;
                background-size: 100% auto;
                width: 50.1vw;
                height: 20.53vw;
                margin: -10px auto 54px!important;
                display: inline-block;
                position: relative;
                top: 0;
            }
            &--txt{
                font-size: 1.3rem;
                line-height: 2;
                display: block;
                position: relative;
                margin: 0 0 4px!important;
            }
            &--en{
                font-size: 1rem;
                line-height: 1.4;
                margin: 0 auto 0!important;
                padding-bottom: 0!important;
                display: block;
                position: relative;
                position: absolute;
                bottom: 0;
                left: 50%;
                white-space: nowrap;
                transform : translate(-50%, 0);
            }
            &--img01{
                position: absolute;
                width: 23.73vw;
                height: 23.73vw;
                left: 15vw;
                top: auto;
                bottom: 88vw;
            }
            &--img02{
                width: 49.86vw;
                height: 68.8vw;
                top: auto;
                right: 0px;
                bottom: 39vw;

            }   
            &--img03{
                position: absolute;
                width: 33.6vw;
                height: 43.2vw;
                top: auto;
                bottom: 33.33vw;
                left: 5.3vw;
            }
        }
        &__product{
            border-top: solid 1px $CR;
            border-bottom: solid 1px $CR;
            margin: 0 0 100px!important;
            &--inner{
                max-width: 1060px;
                width: 100%;
                margin: 0 auto!important;
                border-right: none;
                border-left: none;
                display: block;
            }
            &--sub{
                text-align: center;
                font-size: 1.3rem;

            }
            &--rip{
                width: 100vw;
                border-right: none;
                padding: 5vw 0 10.6vw;
            }
            &--lenz{
                width: 100vw;
                border-top: solid 1px $CR;
                padding: 5vw 0 10.6vw;
            }
            &--ripttl{
                font-size: 1.1rem
            }
            &--ripsub{
                width: 83vw;
                height: 8.3vw;
            }
            &--lenzsub{
                width: 83vw;
                height: 8.3vw;
            }
            &--slickkado{
                width: 5.6vw;
                height: 5.6vw;
                position: absolute;
                top: 0;
                left: 16vw;
                text-indent: -9999px;
                white-space: nowrap;
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/slick-leftImg.png?v=1644378734') no-repeat 0 0;
                background-size: 100% auto;
            }
            &--slick{
                margin: 0!important;
                padding: 0 !important;
                width: 100%;
                position: relative;
                & + li{
                  margin: 0 auto;
                }
            　.slick-arrow:before{
                content:""!important;
                width: 25px!important;
                height: 20px!important;
                position: absolute;
                top: 0;
                left: 0;
                }
                .slick-prev:before, .slick-next:before{
                    width: 25px!important;
                    height: 20px!important;
                    opacity: 1;
                    display: block;
                    content: "";
                    font-size: 0;
                }
                .slick-arrow{
                    z-index:2!important;
                    // width: 37px!important;
                    // height: 32px!important;
                    width: 25px!important;
                    height: 20px!important;
                }
    

                .slick-active button:before{
                    content: ''!important;

                    height: 17px!important;
                    width: 17px!important;
                }
                .slick-dots li{
                    height: 17px!important;
                    width: 17px!important;
                    margin: 0 12px!important;
                }
                .slick-dots li button{
                    height: 17px!important;
                    width: 17px!important;
                }
                .slick-dots li button:before{
                    height: 17px!important;
                    width: 17px!important;
                }
                .slick-dots{    
                    bottom: initial!important;
                    margin-top: -15vw!important;
                }
            }
            &--slick03{
                margin: 0!important;
                padding: 0 !important;
                width: 100%;
                position: relative;
                & + li{
                  margin: 0 auto;
                }
            　.slick-arrow:before{
                content:""!important;
                width: 25px!important;
                height: 20px!important;
                position: absolute;
                top: 0;
                left: 0;
                }
                .slick-prev:before, .slick-next:before{
                    width: 25px!important;
                    height: 20px!important;
                    opacity: 1;
                    display: block;
                    content: "";
                    font-size: 0;
                }
                .slick-arrow{
                    z-index:2!important;
                    // width: 37px!important;
                    // height: 32px!important;
                    width: 25px!important;
                    height: 20px!important;
                }
    

                .slick-active button:before{
                    content: ''!important;

                    height: 17px!important;
                    width: 17px!important;
                }
                .slick-dots li{
                    height: 17px!important;
                    width: 17px!important;
                    margin: 0 12px!important;
                }
                .slick-dots li button{
                    height: 17px!important;
                    width: 17px!important;
                }
                .slick-dots li button:before{
                    height: 17px!important;
                    width: 17px!important;
                }
                .slick-dots{    
                    bottom: initial!important;
                    margin-top: -15vw!important;
                }
            }
            &--slick02wrap{
                top: 56.2vw;
                width: 68.11vw;
                padding-left: 12vw;
                right: -16vw;

            }

            &--slickbtn{    
                a{
                    padding: 12px 26px;
                    font-size: 1.1rem;
                }
            }
            &--slickdisable{

                span{
                    padding: 12px 26px;
                    font-size: 1.1rem;
                }
            }
            &--slickwrap{
                padding: 0 16vw;   
            }
            &--slickImg{
                width: 100%;
                position: relative;
            }
            &--slickpro{
                width: 25.3vw;
                height: 31.7vw;
            }
            &--slickname{
                font-size: 1rem;
                margin: 14.6vw 0 0!important;
            }
            &--price{
                font-size: 1.6rem;
                margin: 13px 0 16px!important;
               span{
                    font-size: 1.2rem;
                }
            }
            &--comming{
                width: 29.4vw;
                height: 17.3vw;
                right: 12.8vw;
                top: 33.3vw;
                animation: rotate-anime 3s linear infinite;
            }
        }
        &__pararaPc{
            display: none;
        }
        &__pararaSp{
            margin-top: 300px;
            width: 100vw;
            height: 102.6vw;  
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_pararasp3.png?v=1644342949') no-repeat;
            background-size: 100% auto;
            margin: 0 auto 110px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-position: center top;
            background-attachment: fixed;
            background-position: center calc(50% - 100px);
            &--ttl{
                width: 85.73vw;
                margin: 0 auto;
                img{
                    width: 100%;
                }
            }        }
        &__produce{
            width: 100vw;
            height: auto;
            margin: 0 auto 9vw;
            position: relative;
            &--rblc{
                border: solid 1px $CR;
                width: 97.33vw;
                height: auto;
                border-top-right-radius: 34px;
                border-left: none;
                border-bottom: none;
                padding: 10vw 7vw 0 0;
            }
            &--rttl{
                font-size: 1rem;
                margin-left: 7.7vw;
            }
            &--rsubttl{
                width: 76.53vw;
                height: 7.26vw;
                margin-left: 7.7vw;
            }
            &--txt{
                margin-left: 7.7vw;
                font-size: 0.9rem;
                padding-bottom: 7.5vw;
            }
            &--image{
                display: none;
            }
            &--imageSp{
                display: block;
                margin: 5vw auto 5vw 0!important;
                width: 89.8vw;
                height: 85.73vw;
                img{
                    width: 100%;
                }
            }
            &--sign{
                width: 71vw;
                height: 26.93vw;
                margin: 0 auto;
            }
            &--imgs{
                width: 46.4vw;
                height: 54.1vw
            }
            &--stxt{
                font-size: 12px;
                line-height: 1.8;
                margin-bottom: 30px!important;
            }
            &--wrapper{
                position: relative;
                height: 155.6vw;
                width: 100vw;
            }
            &--lblc{
                border-top-left-radius: 56px;
                width: 94.5vw;
                height: 155.6vw;
                bottom: 10px;
                right: 0;
            }
            &--lblcIn{
                margin-top: -10px;
                position: absolute;
                width: 94.5vw;
                height: 155.6vw;
                bottom: 10px;
                right: 0;
                padding: 40px 8.26vw;
                
            }
            &--ltxt{
                line-height: 1.4;
                font-size: 1.6rem;
                margin: 0 0 21px!important;
            }
                    &--comming{
            display: block;
            width: 140px;
            height: 83px;
            position: absolute;
            right: 86px;
            top: 155px;
            animation: rotate-anime 3s linear infinite;
        }
        }
    }

}

//tablet　画面サイズが750pxからはこのスタイルを読む
@media screen and (min-width: $BP+1) {
}