@charset "utf-8";

.homePerse {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(245, 241, 238, 0.8);
        width: 100vw;
        height: 100vh;
        z-index: 10;
        white-space: nowrap;
        text-indent: -9999px;
        display: none;
    }

    .modal-window {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 710px;
        z-index: 11;
        background-color: $CR;

        padding: 40px 0 16px 40px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
        display: none;
        &.campaign{
            padding: 0;
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_popupPcb_1.png?v=1647332329') no-repeat 0 0;
            min-height: 421px;
            background-size: auto 421px;
            background-color: #F4EFEC;

        }
    }

    .modal {

        &__frame {
            width: 630px;
            height: 364px;
            position: relative;
            margin: 0;
        }

        &__frame01 {
            width: 630px;
            height: 364px;
            margin: 0 0;
            opacity: 1;
            position: absolute;
            &.disable {
                opacity: 0;
                animation-duration: 0.4s;
                animation-name: slidePopup2;
                display: none;
            }
        }

        &__frame02 {
            width: 630px;
            height: 364px;
            opacity: 0;
            position: absolute;

            &.active {
                opacity: 1;
                animation-name: slidePopup;
                animation-duration: 0.4s;
            }

        }

        &__coupon {
            display: flex;
            margin: 0 0 20px 0;
            padding: 0;
            width: 100%;

            li {
                list-style: none;
                width: 50%;
                padding: 31px 18px 0 42px;

                &:first-child {
                    border-right: solid 1px #FFF;
                    padding: 31px 22px 0 8px;
                }
            }

            &--ttl1 {
                text-align: center;
                margin: 0 auto !important;

                img {
                    width: 224px;
                }
            }

            &--ttl2 {
                text-align: center;
                margin: 0 auto !important;

                img {
                    width: 198px;
                }
            }

            &--img1 {
                margin: 0;
                height: 140px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 165px;

                }
            }

            &--img2 {
                margin: 0;
                height: 140px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 123px;

                }
            }

            &--txt1 {
                color: #FFF;
                font-size: 12px;
                line-height: 2;
            }
        }

        &__next {
            margin: 0 auto !important;
            height: 25px;
            background: #EDE9E6;
            color: $CR;
            width: 180px;
            font-size: 12px;
            cursor: pointer;
            font-family: 'Outfit', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            .close {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/modal_close.svg?v=1645165461') no-repeat 0 0;
                margin-right: 5px;
                background-size: 100% auto;
                width: 10px;
                height: 10px;
                white-space: nowrap;
                text-indent: -9999px;
                display: inline-block;
            }
        }
        &__giftbox{
            width: 640px;
            height: 320px;
            margin: 0 0 20px;
            display: flex;
            width: 100%;
            padding: 25px 0 0 30px;
            &--img{
                width: 240px;
                padding-top: 5px;
                img{
                    width: 100%;
                }
            }
            &--txt{
                width: 100%;
                padding-left: 40px;
            }
            &--txta{
                font-weight: bold;
                font-size: 13px;
                line-height: 1.85;
                color: #fff;
                margin: 0 0 22px!important;
            }
            &--txtb{
                color: #fff;
                font-size: 12px;
                line-height: 2;
                margin: 0 0 5px!important;
                
            }
            &--txtc{
                color: #fff;
                font-size: 9px;
                line-height: 1.6;
                letter-spacing: -0.1;
                margin: 0!important;
            }
            &--ttl{
                width: 240px;
                font-size: 0;
                line-height: 0;
                margin: 0 0 18px!important;
                letter-spacing: -0.1em;
            }
            &--imgb{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 223px;
            }
        }
        &__closeBtn{
            color: $CR;
            font-size: 13px;
            cursor: pointer;
            font-family: 'Outfit', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 18px 0 0!important;
            .close {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/modal_close.svg?v=1645165461') no-repeat 0 0;
                margin-right: 5px;
                background-size: 100% auto;
                width: 10px;
                height: 10px;
                white-space: nowrap;
                text-indent: -9999px;
                display: inline-block;
            }
        }
        &__campaign{
            margin: 35px 0 0 346px;
            width: 325px;
            
            &--ttl{
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/txt_review.svg?v=1647332636') no-repeat 0 0;
                white-space: nowrap;
                text-indent: -9999px;
                width: 280px;
                height: 56px;
                margin: 0 auto 20px!important;
                color: $CR;
            }
            &--txt{
                font-weight: bold;
                font-size: 12.8px;
                color: $CR;

                line-height: 1.6;
                margin: 14px -20px 0 0!important;
            }
            &--note{
                font-size: 10px;
                line-height: 1.9;
                margin: 14px 0 0!important;
                color: $CR;
            }
            .pc{
                display: block;
            }
            .sp{
                display: none;
            }
        }

    }
}

@keyframes slidePopup {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes slidePopup2 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }

}

//sp
@media screen and (max-width: $BP) {
    .homePerse {
        .modal-window {
            width: 79vw;
            height: auto;
            display: block;
            padding: 11.2vw 6.2vw 5.33vw;
            border-top-left-radius: 9.46vw;
            border-bottom-right-radius: 9.46vw;
            &.campaign{
                padding: 0;
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_popupSpb_1.png?v=1647336761') no-repeat 0 0;
                min-height: 58.13vw;
                background-size: 100% auto;
                border-top-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top-right-radius: 9.46vw;
                border-bottom-left-radius: 9.46vw;
                background-color: #F4EFEC;

            }
        }

        .modal {
            &__frame {
                width: 100%;
                position: relative;
                margin: 0;
                height: auto;
                display: flex;
            }

            &__frame01 {
                width: 100%;
                height: auto;
                display: block;
                position: relative;
                margin: 0 0 0 ;
            }

            &__frame02 {
                width: 100%;
                height: auto;
                opacity: 0;
                position: relative;
            }

            &__coupon {
                display: block;
                margin: 0 0 9vw 0;
                padding: 0;
                width: 100%;

                li {
                    list-style: none;
                    width: 100%;
                    padding: 5.33vw 0 0 0;

                    &:first-child {
                        border-right: none;
                        border-bottom: solid 1px #FFF;
                        padding: 0 0 5vw 0;
                    }
                }

                &--ttl1 {
                    text-align: center;
                    margin: 0 auto !important;

                    img {
                        width: 44.6vw;
                    }
                }

                &--ttl2 {
                    text-align: center;
                    margin: 0 auto !important;

                    img {
                        width: 39.73vw;
                    }
                }

                &--img1 {
                    margin: 0;
                    height: 28vw;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 31.33vw;

                    }
                }

                &--img2 {
                    margin: 0;
                    height: 22.6vw;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 29.2vw;

                    }
                }

                &--txt1 {
                    font-size: 1.1rem;
                    margin: 0 !important;
                }
            }

            &__next {
                height: 25px;
                width: 180px;
                font-size: 12px;
                .close {
                    margin-right: 5px;
                    width: 10px;
                    height: 10px;
                }
            }
            &__giftbox{
                width: 100%;
                height: auto;
                margin: 0 0 6vw;
                display: block;
                width: 100%;
                padding: 0;
                &--img{
                    width: 100%;
                    padding-top: 0;
                    margin: 0 auto 5vw;
                }
                &--txt{
                    width: 100%;
                    padding-left: 0;
                }
                &--txta{
                    font-size: 11px;
                    line-height: 1.7;
                    margin: 0 0 4vw!important;
                }
                &--txtb{
                    font-size: 10px;
                    line-height: 2;
                    margin: 0 0 5px!important;
                    
                }
                &--txtc{
                    font-size: 8px;
                    line-height: 1.6;
                    margin: 0!important;
                }
                &--ttl{
                    text-align: center;
                    margin: 0 auto 4vw!important;
                    width: 48.66vw;
                }
                &--imgb{
                    width:42.1vw;
                    height: 39vw;
                    margin: 0 auto;
                }
            }
            &__closeBtn{
                font-size: 11px;
                margin: 0 0 0!important;
            }
            &__campaign{
                margin: 58.13vw 0 0 0;
                width: 100%;
                padding: 3.3vw 7vw;
                .pc{
                    display: none;
                }
                .sp{
                    display: block;
                }
                &--ttl{
                    width: 54vw;
                    height: 10.6vw;
                    margin: 0 auto 15px!important;
                }
                &--txt{
                    display: none;
                }
                &--note{
                    font-size: 10px;
                    line-height: 1.7;
                    margin: 14px 0 3vw!important;
                }
            }
        }
    }
}

//tablet　画面サイズが750pxからはこのスタイルを読む
@media screen and (min-width: $BP+1) {
    .homePerse {}
}


//PCTablet 画面サイズが990pxからはこのスタイルを読む
@media screen and (min-width: 990px) {
    .homePerse {}
}