@charset "utf-8";
@use './reset.scss' as var;

.homePerse {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(245, 241, 238, 0.3);
        width: 100vw;
        height: 100vh;
        z-index: 10;
        white-space: nowrap;
        text-indent: -9999px;
        display: none;
    }

    .modal-window {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 710px;
        z-index: 11;
        background-color: var.$CR;

        padding: 40px 0 16px 40px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
        box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.3);
        display: none;
        &.campaign{
            padding: 0;
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_popupPcb_1.png?v=1647332329') no-repeat 0 0;
            min-height: 421px;
            background-size: auto 421px;
            background-color: #F4EFEC;
        }
        &.campaign02{
            padding: 0;
            background: url('#{var.$assets_path}img_popupPc2.png?v=1650427602') no-repeat 0 0;
            min-height: 421px;
            background-size: 314px 421px;
            background-color: #F4EFEC;
        }
    }

    .modal {

        &__frame {
            width: 630px;
            height: 364px;
            position: relative;
            margin: 0;
        }

        &__frame01 {
            width: 630px;
            height: 364px;
            margin: 0 0;
            opacity: 1;
            position: absolute;
            &.disable {
                opacity: 0;
                animation-duration: 0.4s;
                animation-name: slidePopup2;
                display: none;
            }
        }

        &__frame02 {
            width: 630px;
            height: 364px;
            opacity: 0;
            position: absolute;

            &.active {
                opacity: 1;
                animation-name: slidePopup;
                animation-duration: 0.4s;
            }

        }

        &__coupon {
            display: flex;
            margin: 0 0 20px 0;
            padding: 0;
            width: 100%;

            li {
                list-style: none;
                width: 50%;
                padding: 31px 18px 0 42px;

                &:first-child {
                    border-right: solid 1px #FFF;
                    padding: 31px 22px 0 8px;
                }
            }

            &--ttl1 {
                text-align: center;
                margin: 0 auto !important;

                img {
                    width: 224px;
                }
            }

            &--ttl2 {
                text-align: center;
                margin: 0 auto !important;

                img {
                    width: 198px;
                }
            }

            &--img1 {
                margin: 0;
                height: 140px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 165px;

                }
            }

            &--img2 {
                margin: 0;
                height: 140px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 123px;

                }
            }

            &--txt1 {
                color: #FFF;
                font-size: 12px;
                line-height: 2;
            }
        }

        &__next {
            margin: 0 auto !important;
            height: 25px;
            background: #EDE9E6;
            color: var.$CR;
            width: 180px;
            font-size: 12px;
            cursor: pointer;
            font-family: 'Outfit', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            .close {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/modal_close.svg?v=1645165461') no-repeat 0 0;
                margin-right: 5px;
                background-size: 100% auto;
                width: 10px;
                height: 10px;
                white-space: nowrap;
                text-indent: -9999px;
                display: inline-block;
            }
        }
        &__giftbox{
            width: 640px;
            height: 320px;
            margin: 0 0 20px;
            display: flex;
            width: 100%;
            padding: 25px 0 0 30px;
            &--img{
                width: 240px;
                padding-top: 5px;
                img{
                    width: 100%;
                }
            }
            &--txt{
                width: 100%;
                padding-left: 40px;
            }
            &--txta{
                font-weight: bold;
                font-size: 13px;
                line-height: 1.85;
                color: #fff;
                margin: 0 0 22px!important;
            }
            &--txtb{
                color: #fff;
                font-size: 12px;
                line-height: 2;
                margin: 0 0 5px!important;
                
            }
            &--txtc{
                color: #fff;
                font-size: 9px;
                line-height: 1.6;
                letter-spacing: -0.1;
                margin: 0!important;
            }
            &--ttl{
                width: 240px;
                font-size: 0;
                line-height: 0;
                margin: 0 0 18px!important;
                letter-spacing: -0.1em;
            }
            &--imgb{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 223px;
            }
        }
        &__closeBtn{
            color: var.$CR;
            font-size: 13px;
            cursor: pointer;
            font-family: 'Outfit', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 18px 0 0!important;
            .close {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/modal_close.svg?v=1645165461') no-repeat 0 0;
                margin-right: 5px;
                background-size: 100% auto;
                width: 10px;
                height: 10px;
                white-space: nowrap;
                text-indent: -9999px;
                display: inline-block;
            }
        }
        &__closeBtn02{
            color: var.$CR;
            font-size: 13px;
            cursor: pointer;
            font-family: 'Outfit', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 18px 0 0!important;
            .close {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/modal_close.svg?v=1645165461') no-repeat 0 0;
                margin-right: 5px;
                background-size: 100% auto;
                width: 10px;
                height: 10px;
                white-space: nowrap;
                text-indent: -9999px;
                display: inline-block;
            }
        }
        &__campaign{
            margin: 35px 0 0 346px;
            width: 325px;
            
            &--ttl{
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/txt_review.svg?v=1647332636') no-repeat 0 0;
                white-space: nowrap;
                text-indent: -9999px;
                width: 280px;
                height: 56px;
                margin: 0 auto 20px!important;
                color: var.$CR;
            }
            &--txt{
                font-weight: bold;
                font-size: 12.8px;
                color: var.$CR;

                line-height: 1.6;
                margin: 14px -20px 0 0!important;
            }
            &--note{
                font-size: 10px;
                line-height: 1.9;
                margin: 14px 0 0!important;
                color: var.$CR;
            }
            .pc{
                display: block;
            }
            .sp{
                display: none;
            }
        }
        &__campaign02{
            margin: 35px 0 0 346px;
            width: 325px;
            &--ttl{
                @include var.bgimg('ttl_presentCampaign.svg');
                width: 290px;
                height: 55px;
                margin: 0 auto 36px!important;
                color: var.$CR;
            }
            &--txt{
                font-weight: bold;
                font-size: 1.3rem;
                color: var.$CR;
                line-height: 1.6;
                margin: 0 0 0!important;
            }
            &--note{
                font-size: 1rem;
                line-height: 1.9;
                margin: 21px 0 75px!important;
                color: var.$CR;
            }
            .pc{
                display: block;
            }
            .sp{
                display: none;
            }
            @media screen and (max-width: var.$BP) {
                margin: 58.13vw 0 0 0;
                width: 100%;
                padding: 3.3vw 7vw;

                &--ttl{
                    width: 56vw;
                    height: 10.6vw;
                    margin: 0 auto 7vw!important;
                }
                &--txt{
                    display: none;
                }
                &--note{
                    font-size: 10px;
                    line-height: 1.7;
                    margin: 0 0 8.6vw!important;
                }
            }
        }
    }
}

@keyframes slidePopup {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes slidePopup2 {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-100%);
    }

}

//sp
@media screen and (max-width: var.$BP) {
    .homePerse {
        .modal-window {
            width: 79vw;
            height: auto;
            display: block;
            padding: 11.2vw 6.2vw 5.33vw;
            border-top-left-radius: 9.46vw;
            border-bottom-right-radius: 9.46vw;
            &.campaign{
                padding: 0;
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/img_popupSpb_1.png?v=1647336761') no-repeat 0 0;
                min-height: 58.13vw;
                background-size: 100% auto;
                border-top-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top-right-radius: 9.46vw;
                border-bottom-left-radius: 9.46vw;
                background-color: #F4EFEC;
            }
            &.campaign02{
                padding: 0;
                background: url('#{var.$assets_path}img_popupSp2.png?v=1650427602') no-repeat 0 0;
                min-height: 58.13vw;
                background-size: 100% auto;
                border-top-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top-right-radius: 9.46vw;
                border-bottom-left-radius: 9.46vw;
                background-color: #F4EFEC;
            }
        }

        .modal {
            &__frame {
                width: 100%;
                position: relative;
                margin: 0;
                height: auto;
                display: flex;
            }

            &__frame01 {
                width: 100%;
                height: auto;
                display: block;
                position: relative;
                margin: 0 0 0 ;
            }

            &__frame02 {
                width: 100%;
                height: auto;
                opacity: 0;
                position: relative;
            }

            &__coupon {
                display: block;
                margin: 0 0 9vw 0;
                padding: 0;
                width: 100%;

                li {
                    list-style: none;
                    width: 100%;
                    padding: 5.33vw 0 0 0;

                    &:first-child {
                        border-right: none;
                        border-bottom: solid 1px #FFF;
                        padding: 0 0 5vw 0;
                    }
                }

                &--ttl1 {
                    text-align: center;
                    margin: 0 auto !important;

                    img {
                        width: 44.6vw;
                    }
                }

                &--ttl2 {
                    text-align: center;
                    margin: 0 auto !important;

                    img {
                        width: 39.73vw;
                    }
                }

                &--img1 {
                    margin: 0;
                    height: 28vw;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 31.33vw;

                    }
                }

                &--img2 {
                    margin: 0;
                    height: 22.6vw;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 29.2vw;

                    }
                }

                &--txt1 {
                    font-size: 1.1rem;
                    margin: 0 !important;
                }
            }

            &__next {
                height: 25px;
                width: 180px;
                font-size: 12px;
                .close {
                    margin-right: 5px;
                    width: 10px;
                    height: 10px;
                }
            }
            &__giftbox{
                width: 100%;
                height: auto;
                margin: 0 0 6vw;
                display: block;
                width: 100%;
                padding: 0;
                &--img{
                    width: 100%;
                    padding-top: 0;
                    margin: 0 auto 5vw;
                }
                &--txt{
                    width: 100%;
                    padding-left: 0;
                }
                &--txta{
                    font-size: 11px;
                    line-height: 1.7;
                    margin: 0 0 4vw!important;
                }
                &--txtb{
                    font-size: 10px;
                    line-height: 2;
                    margin: 0 0 5px!important;
                    
                }
                &--txtc{
                    font-size: 8px;
                    line-height: 1.6;
                    margin: 0!important;
                }
                &--ttl{
                    text-align: center;
                    margin: 0 auto 4vw!important;
                    width: 48.66vw;
                }
                &--imgb{
                    width:42.1vw;
                    height: 39vw;
                    margin: 0 auto;
                }
            }
            &__closeBtn{
                font-size: 11px;
                margin: 0 0 0!important;
            }
            &__closeBtn02{
                font-size: 3vw;
                margin: 0 0 0!important;
                .close {
                    width: 3vw;
                    height: 3vw;
                }
            }
            &__campaign{
                margin: 58.13vw 0 0 0;
                width: 100%;
                padding: 3.3vw 7vw;
                .pc{
                    display: none;
                }
                .sp{
                    display: block;
                }
                &--ttl{
                    width: 54vw;
                    height: 10.6vw;
                    margin: 0 auto 15px!important;
                }
                &--txt{
                    display: none;
                }
                &--note{
                    font-size: 10px;
                    line-height: 1.7;
                    margin: 14px 0 3vw!important;
                }
            }

        }
    }
}

//tablet　画面サイズが750pxからはこのスタイルを読む
@media screen and (min-width: var.$BP+1) {
    .homePerse {}
}


//PCTablet 画面サイズが990pxからはこのスタイルを読む
@media screen and (min-width: 990px) {
    .homePerse {}
}
.homePerse {
    .modal-window {
        &.campaign02{
            padding: 0;
            background: url('#{var.$assets_path}img_campaign300.png?v=1654160719') no-repeat 0 0;
            min-height: 421px;
            background-size: 330px 421px;
            background-color: #F4EFEC;
            
        }
    }
    .modal{
        &__campaign02{
            margin: 40px 0 0 360px;
            width: 310px;
            &--300{
                text-align: center;
                span{
                    background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/ttl_campaing300.svg?v=1654161043') no-repeat 0 0;
                    background-size: 100% auto;
                    display: inline-block;
                    width: 290px;
                    height: 54px;
                    white-space: nowrap;
                    text-indent: -9999px;
                }

            }
            &--txt{
                font-weight: 300;
                margin: 18px 0!important;
            }
            &--blc{
                border-top: solid 1px var.$CR;
                border-bottom: solid 1px var.$CR;
                position: relative;
                margin-top: 30px;
                margin-bottom: 36px;
                padding-bottom: 20px;
            }
            &--subttl{
                margin: -10px auto 10px!important;
                text-align: center;
                span{
                    display: inline-block;
                    margin: 0 auto;
                    background: var.$BG;
                    padding: 0 8px;
                    font-size: 14px;
                }
            }
            &--lists{
                display: flex;
                justify-content: space-between;
                span{
                    font-size: 10px;
                    display: inline-block;
                }
                a{
                    color: var.$CR;
                    font-size: 10px;
                    margin: 0!important;
                    text-decoration: none;

                }
                p{
                    margin: 0!important;
                    line-height: 1.2;
                }
            }
            &--listsblc{
                width: 50%;
                min-width: 50%;
            }
        }
    }
}

@media screen and (max-width: var.$BP) {
    .homePerse {
        .modal-window {
            width: 87vw;
            height: auto;
            display: block;
            padding: 11.2vw 6.2vw 5.33vw;
            border-top-left-radius: 9.46vw;
            border-bottom-right-radius: 9.46vw;
            img{
                width: 90vw;
                height: auto;
            }
            &.campaign02{
                margin: 0!important;
                padding: 0;
                background: url('#{var.$assets_path}img_campaign300sp.png?v=1654163512') no-repeat 0 0;
                min-height: 58.13vw;
                background-size: 100% auto;
                border-top-left-radius: 0;
                border-bottom-right-radius: 0;
                border-top-right-radius: 9.46vw;
                border-bottom-left-radius: 9.46vw;
                background-color: #F4EFEC;
            }
        }
        .modal{
            &__campaign02{
                width: auto;
                margin: 68vw 0 0 0;
                padding: 3vw 5vw;
                &--txt{
                    display: block;
                    margin:  0!important;
                    &.spnone{
                        display: none;
                    }
                }
                &--300{
                    text-align: center;
                    margin-top: 0!important;
                    span{
                        background-size: 100% auto;
                        display: inline-block;
                        width: 54.2vw;
                        height: 10.2vw;
                    }
    
                }
                &--blc{
                    margin: 20px 0 16px;
                }
            }
        }
    }
}


//20220803修正 POPUP
.modal-window0803 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    // width: 460px;
    img{
        width: 100%;
        height: auto;
    }
    &--inner{
        // width: 460px;
        position: relative;
    }
    .s-nextlink0803{
        display: block;
    }
    .modal__frame--popup01{
        opacity: 1;
        position: absolute;
        // width: 460px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &.disable {
            opacity: 0;
            animation-duration: 0.4s;
            animation-name: slidePopup0803b;
            display: none;
        }
    }


    .modal__frame--popup02{
        opacity: 0;
        position: absolute;
        // width: 460px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img{
            width: 100%;
        }
        &.active {
            opacity: 1;
            animation-name: slidePopup0803a;
            animation-duration: 0.4s;
        }
        &.disable {
            opacity: 0;
            animation-duration: 0.4s;
            animation-name: slidePopup0803b;
            display: none;
        }
    }
    .modal__frame--popup03{
        opacity: 0;
        position: absolute;
        width: 460px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img{
            width: 100%;
        }
        &.active {
            opacity: 1;
            animation-name: slidePopup0803a;
            animation-duration: 0.4s;
        }
    }
    .pc{
        display: block;
        position: relative;
        font-size: 0;
        line-height: 0;
    }
    .sp{
        display: none;
        position: relative;
        font-size: 0;
        line-height: 0;
    }
    .modal__next0803{
        white-space: nowrap;
        text-indent: -9999px;
        width: 60px;
        height: 60px;

        position: absolute;
        right:0;
        top: 0;
        margin: 0!important;
    }
    // img{
    //     max-width: 460px;
    // }
    @media screen and (max-width: var.$BP) {
        width: 90vw;
        &--inner{
            width: 90vw;
        }
        .modal__frame--popup01, .modal__frame--popup02, .modal__frame--popup03{
            width: 90vw;

        }
        img{
            max-width: 90vw;
        }
        .sp{
            display: block;
        }
        .pc{
            display: none;
        }
    }
}


@keyframes slidePopup0803a {
0% {
    opacity: 0;
}

100% {
    opacity: 1;
}

}

@keyframes slidePopup0803b {
0% {
    opacity: 1;
}

100% {
    opacity: 0;
}

} 

//追記
.phome__slide{
    img{

    }
}
.phome__slide--wrapper{
    max-width: 540px;
}
.phome__slide--img{
    width: 540px;
    height: auto;
}
.phome__slide--name{
    width: 428px;
    margin-top: -182px;
    img{
        width: 429px;
        height: 139px;
    }
}

.pereseLogo__h1{
    margin: 0!important;
    font-size: 0!important;
}

.phome__brand--img01{
    img{
        width: 150px;
        height: 150px;
    }
}

.phome__brand--img02{
    img{
        width: 254px;
        height: auto;
        border-top-left-radius: 70px;
    }
}
.phome__brand--img03{
    img{
        width: 190px;
        height: auto;
    }
}

//920px以上な
.phome__slicktop{
    border-bottom: solid 1px var.$CR;
    border-right: solid 1px var.$CR;
    border-left: solid 1px var.$CR;
    max-width: 1060px;
    width: 100%;
    margin:  0 auto;
    display: flex;

    padding: 63px 0 43px;
    &--inner{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 917px;
        margin: 0 auto;
        align-items: flex-start;
        &-ab{
            position: absolute;
            width: 917px;
            ul{
                padding: 0;
                margin: 0;
                li{
                    list-style-type: none;
                }
            }
        }

    }

    &--name{

        &01{
            background-repeat: no-repeat;
            background-position: right -2px top;
            background-size: 154px 74px;
            width: 407px;
            margin-top: 282px;
        }
        &02{
            background-repeat: no-repeat;
            background-position: right -2px top;
            background-size: 154px 74px;
            width: 407px;
            margin-top: 282px;
        }

    }
    &--01{
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        &wrapper{
            width: 330px; 
            margin-left: 26px;
            .slick-dotted.slick-slider{
                margin-bottom: 0;
            }
            .slick-dots{
                margin-bottom: 65px;
            }
        }
        li{
            list-style-type: none;
            font-size: 0;
            line-height: 0;
            a{
                display: block;
                text-decoration: none;
            }
            img{
                width: 100%;
                height: auto;
                object-fit: cover;
                border-top-left-radius: 82px;
            }
        }
        .phome__product--slickname{
            margin-top: 70px;
        }
    }
    &--02{
        margin: 0;
        padding: 0;
        width: 917px;
        height: 100%;
        &-01{
            overflow: hidden;
            &img{
                margin-right: 0;
                margin-top: 34px;
                width: 410px;
                float: left;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        li{
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            .phome__slicktop--name01{
                display: block;
                text-decoration: none;
                float: right;
                width: 407px;
            }
            .phome__slicktop--name02{
                display: block;
                text-decoration: none;
                float: right;
                width: 407px;
            }
        }
        &ttla{
            @include var.bgimg('phome__slicktop--02ttla.svg');
            width: 187px;
            height: 26px;
            margin: 0;
        }
        &ttlb{
            @include var.bgimg('phome__slicktop--02ttlb.svg');
            width: 223px;
            height: 26px;
            margin: 0;
        }
        .phome__product--price{
            text-align: left;
            margin: 12px 0 24px;
        }
    }
    &--pright{
        padding-top: 63px;
        width: 407px;

    }

    .phome__product--ripttl{
        text-align: left;
        margin-bottom: 0;
        line-height: 1;
    }
    .phome__product--sub{
        text-align: left;
        margin-bottom: 0;
        border-bottom: solid 1px #EBE3DB;
        padding-bottom: 32px;
        margin-bottom: 0;
    }
    .phome__product--slickbtn{
        text-align: left;
        margin: 24px 0 0;
    }
    &--ttl{
        @include var.bgimg('ttl_slickeyeshadow.svg');
        height: 89px;
        margin: 18px 0 18px;

    }
}
.phome__product--slick02, .phome__product--slick, .phome__product--slickpro{
    img{
        width: 100%;
        height: auto;
    }
}
.phome__product--slickImg{
    img{
        width: 100%;
        height: auto;
        border-top-left-radius:  82px;
    }
}
.phome__produce--image{
    img{
        width: 408px;
        height: auto;
        border-top-right-radius: 55px;
    }
}
.phome__produce--imgs{
    img{
        width: 208px;
        height: auto;
    }
}
#MainContent .main__sns{
    z-index: 2;
}
@media screen and (min-width: 751px) {
    .phome__slicktop--ttlblc{
        display: none;
    }
}

@media screen and (max-width: 1060px) {
    .phome__pararaPc{
        width: 100%;
    }
    .phome__produce--sign{
        width: 33.3vw;
        height: 12.6vw;
        img{
            width: 100%;
            height: auto;
        }
    }
    .phome__produce--rsubttl{
        width: 32.6vw;
        height: 3.12vw;
    }
    .phome__produce{
        width: 100%;
    }
    .phome__produce--rblc{
        width: 52.45%;
        height: auto;
        padding-bottom: 10vw;
        padding-right: 7.3vw;
        padding-left: 6.6vw;
    }
    .phome__produce--image{
        img{
            width: 100%;
            height: auto;
        }

    }
    .phome__produce--lblc{
        width: 51%;
        height: auto;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}


//750px - 960px
@media screen and (max-width: 960px) {
    .phome__product--inner{
        border-right: none;
        border-left: none;
    }
    .phome__slicktop{
        border-right: none;
        border-left: none;
        &--inner{
            width: 100%;
            justify-content: center;
            &-ab{
                position: absolute;
                width: 90%;
            }
        }
        &--name{
            &01{
                background-size: 154px 74px;
                width: 42%;
                margin-top: 0;
            }
            &02{
                background-size: 154px 74px;
                width: 42%;
                margin-top: 0;
            }
    
        }
        &--01{
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            &wrapper{
                width: 33%; 
                margin-left: 2.83%;
                .slick-dotted.slick-slider{
                    margin-bottom: 0;
                }
                .slick-dots{
                    margin-bottom: 65px;
                }
            }
            li{
                list-style-type: none;
                font-size: 0;
                line-height: 0;
                a{
                    display: block;
                    text-decoration: none;
                }
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                    border-top-left-radius: 82px;
                }
            }
            .phome__product--slickname{
                margin-top: 70px;
            }
        }
        &--02{
            margin: 0 auto;
            padding: 0;
            width: 100%;
            &-01{
                overflow: hidden;
                &img{
                    margin-right: 0;
                    margin-top: 30px;
                    width: 44.7%;
                    float: left;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            li{
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                .phome__slicktop--name01{
                    float: right;
                    width: 50%;
                    margin-top: 37%;
                }
                .phome__slicktop--name02{
                    float: right;
                    width: 50%;
                    margin-top: 37%;
                }
            }
            &ttla{
                width: 168px;
                height: 24px;
            }
            &ttlb{
                width: 200px;
                height: 24px;

            }

        }
        &--pright{
            padding-top: 63px;
            width: 44.3%;
            margin-left: 80px;
        }
    
        &--ttl{
            width: 100%;
            height: 0;
            padding-top: 21.3%;           
    
        }
    }
    
    //他の
    .phome__product--ripsub{
        width: 78%;
        height: 0;
        padding-top: 8.6%;
    }
    .phome__product--lenzsub{
        width: 81.7%;
        padding-top: 8.6%;
        height: 0;

    }
    .phome__product--slick04wrap{
        width: 100%;
        top: 48%;
    }
    .phome__product--slick02wrapNew{
        width: 100%;
        top: 9%;
        .phome__product--slick02{
            width: 100%;
        }
    }
    .phome__product--slickwrap{
        padding: 0 60px;
    }
    .phome__product--slickpro00{
        width: 100%;
        height: auto;
    }
    .phome__product--slick04{
        width: 100%;
    }
    .phome__product--slickpro{
        width: 100%;
        height: 35%;
        img{
            width: 100%;
            height: auto;
        }
    }

}

//SP
@media screen and (max-width: var.$BP) {
    .phome__produce--rblc{
        width: 97.33vw;
        padding: 10vw 7vw 0 0;
    }
    .phome__produce--imageSp{
        img{
            width: 100%;
            height: auto;
            border-top-right-radius: 8vw;
        }
    }
    .phome__produce--rsubttl {
        width: 76.53vw;
        height: 7.26vw;
    }
    .phome__produce--lblc{
        width: 94.5vw;
    }
    .phome__produce--sign {
        width: 71vw;
        height: 26.93vw;
    }
    .phome__produce--imgs{
        img{
            width: 100%;
            height: auto;
        }
    }
    .phome__slide--name{
        width: 71.2vw;
        height: 23.2vw;
        margin-top: -31vw;
        img{
            width: 100%;
            height: auto;
        }
    }
    .phome__brand--img01{
        img{
            width: 23.8vw;
            height: auto;
        }
    }

    
    .phome__brand--img02{
        img{
            width: 49.9vw;
            height: auto;
            border-top-left-radius: 18.5vw;
        }
    }
    .phome__brand--img03{
        img{
            width: 33.7vw;
            height: auto;
        }
    }
    .phome__product--slickwrap{
        width: 100%;
        margin: 0 auto;
        padding: 0 18.9%;
    }
    .phome__product--slick02wrapNew{
        top: 0; 
    }
    .phome__slicktop{
        display: block;
        padding: 8.6vw 0 10.6vw;
        .slick-prev{
            top: 40vw!important;
            left: -10vw!important;
        }
        .slick-next{
            top: 40vw!important;
            right: -10vw!important;
        }
        &--ttlblc{
            .phome__product--ripttl{
                text-align: center;
                margin: 0;

            }
            .phome__slicktop--spttl{
                text-align: center;
                @include var.bgimg('ttl_eyeshadow-sp.svg');
                width: 81.8%;
                height: 0;
                padding-top:18.8%;
                margin: 2.8vw auto;
                // 81px
            }
            .phome__product--sub{
                text-align: center;
                border-bottom: none;
                margin: 0;
                padding-bottom: 4.66vw;
            }
        }
        &--inner{
            display: block;
            width: 100%;
            margin: 0 auto;
            &-ab{
                position: absolute;
                width: 100%;
                padding: 0 7.7vw 0 8.8vw;
                top: 0;

            }
    
        }
    
        &--name{
    
            &01{
                background-repeat: no-repeat;
                background-position: right -2px top;
                background-size: 154px 74px;
                width:100%;
                margin-top: 282px;
            }
            &02{
                background-repeat: no-repeat;
                background-position: right -2px top;
                background-size: 154px 74px;
                width:100%;
                margin-top: 282px;
            }
    
        }
        &--01{
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 0;
            padding: 0;
            &wrapper{
                width: 66.2%; 
                margin: 0 auto;
                .slick-dots{
                    margin-bottom: 65px;
                }
            }
            li{
                img{
                    width: 100%;
                    height: auto;
                    border-top-left-radius: 10.9VW;
                }
            }
            .phome__product--slickname{
                margin-top: 13.8vw;
            }
        }
        &--02{
            width: 100%;
            &-01{
                overflow: hidden;
                &img{
                    margin-right: 0;
                    margin-top: calc(24.4vw + 60px);
                    width:  100%;
                    float: left;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
            li{
                display: block;
                a{
                    float: right;
                    width: 100%;
                }
            }
            &ttla{
                @include var.bgimg('phome__slicktop--02ttla.svg');
                width: 187px;
                height: 26px;
                margin: 0;
            }
            &ttlb{
                @include var.bgimg('phome__slicktop--02ttlb.svg');
                width: 223px;
                height: 26px;
                margin: 0;
            }
            .phome__product--price{
                text-align: left;
                margin: 12px 0 24px;
            }
        }
        &--pright{
            display: none;
        }
    
        .phome__product--price{
            text-align: center;
        }
        .phome__product--slickbtn{
            text-align: center;
            margin: 3.2vw auto 0;
        }

    }

    .phome__slicktop--spttl01{
        @include var.bgimg('phome__slicktop--02ttla.svg');
        width: 39.6vw;
        height: 5.46vw; 
        margin: 6.9vw auto 2.13vw;
    }
    .phome__slicktop--spttl02{
        @include var.bgimg('phome__slicktop--02ttlb.svg');
        width: 47.2vw;
        height: 5.46vw; 
        margin: 6.9vw auto 2.13vw;
    }
    .phome__product--slickcon, .phome__product--slickbtn{
        margin: 3.2vw auto 0;
    }
    .phome__slicktop--01 {
        .slick-dots li {
            height: 17px!important;
            width: 17px!important;
            margin: 0 6px!important;
            button:before{
                width: 17px!important;
        
            }
        }
        
    }
    .phome__product--slickImg{
        img{
            border-top-left-radius: 10.9vw;
        }
    }
    .phome .slick-dots{
        bottom: -30px;
    }
}

.phome__slicktop--02{
    .slick-active {
        .phome__slicktop--02-01img{
            animation: fadezoom 0.7s 0s forwards;

        }

    }

    @keyframes fadezoom {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

}
@media screen and (max-width: var.$BP) {

.phome__product--slickwrap{
    
        padding: 0 16.9%;
    }
    .phome__product--slick02wrapNew{
        top: 7%;
    }
}


// @include var.webpBg('.upthome__fv', var.$imgpath +'fv_pc04');
@include var.webpBg('.phome__slicktop--name01', var.$assets_path+'bg_pallete01', 'png');
@include var.webpBg('.phome__slicktop--name02', var.$assets_path+'bg_pallete02', 'png');


@media screen and (max-width: var.$BP) {
    // @include var.webpBg('.upthome__fv', var.$imgpath +'fv_sp');
    // @include var.webpBg('.upthome__set--img-in', var.$imgpath +'home_setimg-sp', 'png');
    // @include var.webpBg('.upthome__producer', var.$imgpath +'bg_yumi-sp02');

}

