@charset "utf-8";
@use './reset.scss' as var;
*{
    // font-family: "dnp-shuei-gothic-gin-std", sans-serif;
  }
.enCormorant{
    font-family: "cormorant-garamond", serif;

}
.ninbus{
    font-family: "nimbus-sans", sans-serif;

}
.renew{
    font-family: "dnp-shuei-gothic-gin-std", sans-serif;

}
//sp
@media screen and (max-width: var.$BP) {

}


//tablet　画面サイズが750pxからはこのスタイルを読む
@media screen and (min-width: var.$BP+1) {
}


//PCTablet 画面サイズが990pxからはこのスタイルを読む
@media screen and (min-width: 990px) {
    .homePerse {}
}



// @include var.webpBg('.upthome__fv', var.$imgpath +'fv_pc04');
// @include var.webpBg('.phome__slicktop--name01', var.$assets_path+'bg_pallete01', 'png');
// @include var.webpBg('.phome__slicktop--name02', var.$assets_path+'bg_pallete02', 'png');


@media screen and (max-width: var.$BP) {
    // @include var.webpBg('.upthome__fv', var.$imgpath +'fv_sp');
    // @include var.webpBg('.upthome__set--img-in', var.$imgpath +'home_setimg-sp', 'png');
    // @include var.webpBg('.upthome__producer', var.$imgpath +'bg_yumi-sp02');

}

