@charset "utf-8";
@use './reset.scss'as var;

.cormorant {
    font-family: "cormorant-garamond", serif;
}

.ninbus {
    font-family: "nimbus-sans", sans-serif;
}
///VITAシリーズ
// font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro";

.vita{
    &__ttl{
        @include var.bgimg('ttl_vitacollection.svg');
        width: 246px;
        height: 25px;
        margin: 0 auto 52px;
    }
    &__picture{
        font-size: 0;
        margin: 0 auto 80px;
    }
    @media screen and (max-width: var.$BP) {
        &__ttl{
            width: 42.6vw;
            height: 4.26vw;
            margin: 0 auto 8vw;
        }
        &__picture{
            font-size: 0;
            margin: 0 auto 14.6vw;
        }
    }
}
.vitaTone {
    img{
        width: 100%;
        height: auto;
    }
    &__txt01{
        text-align: center;
        font-size: 1.8rem;
        color: var.$vitaBr;
        line-height: 1.66;
        font-family: "dnp-shuei-gothic-gin-std", sans-serif;
        sup{
            font-size: 0.6em;
        }
    }
    &__txt02{
        text-align: center;
        font-size: 1.5rem;
        color: #666666;
        line-height: 2;
        font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro";
        sup{
            font-size: 0.6em;
        }
    }
    &__note{
        text-align: center;
        font-size: 1.2rem;
        color: #666666;
        line-height: 2;
    }
    &__inner{
        width: 520px;
        margin: 0 auto;
    }
    &__subttl{
        @include var.bgimg('ttl_vitacollection-toneup2.svg');
        width: 319px;
        height: 131px;
        margin: 0 auto 26px;
    }
    &__txt{
        text-align: center;
        font-size: 1.6rem;
        color: var.$vitaBr;
        margin: 0 auto 85px;
        font-family: "dnp-shuei-gothic-gin-std", sans-serif;

    }
    &__product{
        width: 258px;
        font-size: 0;
        margin: 0 auto;
        position: relative;
        &--txt{
            @include var.bgimg('toneup_clearbeige.svg');
            width: 79px;
            height: 93px;
            position: absolute;
            top: -9px;
            right: -14px;

        }
        &--ttl{
            margin: 65px auto 20px;
            text-align: center; 
            font-weight: bold;
            font-size: 2rem;
            line-height: 1.9;
            color: var.$vitaBr;
            font-family: "dnp-shuei-gothic-gin-std", sans-serif;

        }
        &--txt2{
            color:#666666;
            font-size: 1.6rem;
            line-height: 2;
            margin: 0 auto 100px;
            text-align: center;
        }
    }
    &__bblc{
        border: solid 1px var.$vitaBr;
        margin: 0 auto 85px;
        font-size: 0;
        line-height: 0;
        
        &--txt01{
            border-top: solid 1px var.$vitaBr;
            border-bottom: solid 1px var.$vitaBr;

            img{
                width: 100%;
                height: auto;
            }
        }
        &--chekpoint{
            padding: 78px 0 150px 0;
            border-bottom: solid 1px var.$vitaBr;
            background-size: 291px 511px;
            background-position: right 0 bottom 0;
            background-repeat: no-repeat;
            &-ttl{
                @include var.bgimg('ttl_vitacollection-toneup2.svg');
                width: 279px;   
                height: 115px;
                margin: 0 auto 28px;
            }
            &-spf{
                @include var.bgimg('img_explain-toneup03.svg');
                width: 208px;
                height: 25px;
                margin: 0 auto 124px;

            }
            &-txt{
                background-repeat: no-repeat;
                background-size: 100% auto;
                width: 215px;
                height: 273px;
                margin: 0 0 0 40px;
            }
        }
        &--point01{
            display: flex;
            border-bottom: solid 1px var.$vitaBr;
            &-con{
                width: calc(100% - 50px);
            }
            &-conimg{
                border-bottom: solid 1px var.$vitaBr;
                margin: 0;
                padding: 0;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &-contxt{
                padding: 65px 0 65px 50px;
                .vitaTone__txt01{
                    margin: 0 auto 28px;
                    text-align-last: left;

                }
                .vitaTone__txt02{
                    text-align-last: left;
                    margin: 0;
                }
            }

            &-ttl{
                width: clamp(50px, 50px, 50px);
                border-left: solid 1px var.$vitaBr;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &-ba{
                border-top: solid 1px var.$vitaBr;

                padding: 60px 51px 70px;
                .vitaTone__txt01{
                    margin: 0 auto 32px;
                }
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        &--point02{
            display: flex;
            border-bottom: solid 1px var.$vitaBr;
            &-con{
                width: calc(100% - 50px);
            }
            &-ttl{
                width: clamp(50px, 50px, 50px);
                border-right: solid 1px var.$vitaBr;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &-conimg{
                border-bottom: solid 1px var.$vitaBr;
                margin: 0;
                padding: 0;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &-contxt{
                padding: 60px 46px 68px;
                .vitaTone__txt01{
                    margin: 0 auto 25px;
                }
                .vitaTone__txt02{
                    margin: 0 auto 68px;
                }
            }


        }
        &--point03{
            display: flex;
            border-bottom: solid 1px var.$vitaBr;
            &-con{
                width: calc(100% - 50px);
            }
            &-img{
                border-radius: 20px;
                border: solid 1px var.$vitaBr;
            }
            &-last{
                padding: 60px 40px 65px 50px;
                border-top: solid 1px var.$vitaBr;
                &img{
                    width: 333px;
                    margin: 0 auto 54px;

                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .vitaTone__txt01{
                    margin: 0 auto 45px;
                    text-align-last: left;

                }
                .vitaTone__txt02{
                    text-align-last: left;
                    margin: 0 auto 18px;
                }
                .vitaTone__note{
                    text-align-last: left;
                }
            }
            &-conimg{
                border-bottom: solid 1px var.$vitaBr;
                margin: 0;
                padding: 0;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &-contxt{
                padding: 60px 53px 83px;
                .vitaTone__txt01{
                    margin: 0 auto 35px;
                    text-align-last: left;

                }
                .vitaTone__txt02{
                    text-align-last: left;
                    margin: 0 auto 20px;
                }
                .vitaTone__note{
                    text-align-last: left;
                    margin: 0 auto 50px;
                }
            }

            &-ttl{
                width: clamp(50px, 50px, 50px);
                border-left: solid 1px var.$vitaBr;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &-ba{
                border-top: solid 1px var.$vitaBr;

                padding: 60px 51px 70px;
                .vitaTone__txt01{
                    margin: 0 auto 32px;
                }
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        &--point04{
            display: flex;
            &-con{
                width: calc(100% - 50px);
            }
            &-ttl{
                width: clamp(50px, 50px, 50px);
                border-right: solid 1px var.$vitaBr;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &-conimg{
                border-bottom: solid 1px var.$vitaBr;
                margin: 0;
                padding: 0;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &-contxt{
                padding: 60px 52px 80px 60px;
                .vitaTone__txt01{
                    margin: 0 auto 36px;
                    text-align: left;
                }
                .vitaTone__txt02{
                    margin: 0 auto 68px;
                    text-align: left;
                }
                .vitaTone__note{
                    margin: 35px auto 0;
                    text-align: left;
                }
            }


        }
    }
    &__feature{
        margin: 0 auto 92px;
        font-size: 0;
        img{
            width: 100%;
            height: auto;
        }
        &--blc{
            background-color: #EEEBDB;
            padding:58px 38px;
        }
        .vitaTone__txt02{
            margin: 0 auto 52px;
        }
        .vitaTone__note{
            margin: 40px auto 0;
        }
    }
    @media screen and (max-width: var.$BP) {
        &__inner{
            width: 100%;
            margin: 0 auto;
            &--fv{
                padding: 0 5vw;
            }
        }
        &__txt01{
            font-size: 1.4rem;
            line-height: 1.66;
        }
        &__txt02{
            font-size: 1.3rem;
            line-height: 2;
        }
        &__subttl{
            width: 56vw;
            height: 23.6vw;
            margin: 0 auto 20px;
        }
        &__txt{
            font-size: 1.1rem;
            margin: 0 auto 14vw;
        }
        &__product{
            width: 45vw;
            &--txt{
                width: 13.86vw;
                height: 16.26vw;
                position: absolute;
                top: -2.13vw;
                right: -2.8vw;
    
            }
            &--ttl{
                margin: 14.4vw auto 5.3vw;
                font-size: 1.6rem;
                line-height: 1.9;
                font-family: "dnp-shuei-gothic-gin-std", sans-serif;

            }
            &--txt2{
                font-size: 1.3rem;
                line-height: 2;
                margin: 0 auto 20vw;
            }
        }
        &__bblc{
            margin: 0 auto 11.7vw;
            width: 100%;
            border-right: none;
            border-left: none;
            &--chekpoint{
                padding: 14.66vw 0 44.8vw 0;
                background-size: 64.4vw 113vw;
                background-position: right 0 bottom 0;
                background-repeat: no-repeat;
                &-ttl{
                    width: 54vw;   
                    height: 23vw;
                    margin: 0 auto 5vw;
                }
                &-spf{
                    width: 40vw;
                    height: 4.8vw;
                    margin: 0 auto 22.4vw;
    
                }
                &-txt{
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    width: 42.6vw;
                    height: 53.6vw;
                    margin: 0 0 0 8vw;
                }
            }
            &--point01{
    
                &-contxt{
                    padding: 13.7vw 7vw 11.7vw 8vw;
                    .vitaTone__txt01{
                        margin: 0 auto 6vw;
                    }
                }
    
                &-ttl{
                    width: clamp(50px, 50px, 50px);
                    border-left: solid 1px var.$vitaBr;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                &-ba{
                    padding: 7.33vw 10vw;
                    .vitaTone__txt01{
                        margin: 0 auto 6vw;
                    }
    
                }
            }
            &--point02{
    
                &-contxt{
                    padding: 12.2vw 8.8vw 27.6vw;
                    .vitaTone__txt01{
                        margin: 0 auto 6vw;
                    }
                    .vitaTone__txt02{
                        margin: 0 auto 12.4vw;
                    }
                }
    
    
            }
            &--point03{
    .vitaTone__txt02{
                    br{
                        display: none;
                    }
                }
                &-last{
                    padding: 60px 40px 65px 50px;
                    &img{
                        width: 70vw;
                        margin: 0 auto 12vw;

                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                    .vitaTone__txt01{
                        margin: 0 auto 45px;
                        text-align-last: left;
    
                    }
                    .vitaTone__txt02{
                        text-align-last: left;
                        margin: 0 auto 18px;
                    }
                    .vitaTone__note{
                        text-align-last: left;
                    }
                }
    
                &-contxt{
                    padding: 12.4vw 8vw 17.8vw;
                    .vitaTone__txt01{
                        margin: 0 auto 7.4vw;
                        text-align-last: left;
                    }
                    .vitaTone__txt02{
                        text-align-last: left;
                        margin: 0 auto 6.6vw;
                    }
                    .vitaTone__note{
                        text-align-last: left;
                        margin: 0 auto 14.26vw;
                    }
                }

            }
            &--point04{

                .vitaTone__txt02{
                    br{
                        display: none;
                    }
                }
                &-contxt{
                    padding: 13.6vw 8vw 20vw 8vw;
                    .vitaTone__txt01{
                        margin: 0 auto 7.3vw;
                        text-align: left;
                    }
                    .vitaTone__txt02{
                        margin: 0 auto 15.5vw;
                        text-align: left;
                    }
                    .vitaTone__note{
                        margin: 7.3vw auto 0;
                        text-align: left;
                    }
                }
    
    
            }
        }
        &__feature{
            margin: 0 auto 12vw;
            padding: 0 3.3vw;
            &--blc{
                padding: 9vw 6vw 17.6vw;
            }
            .vitaTone__txt02{
                margin: 0 auto 13.4vw;
            }
            .vitaTone__note{
                margin: 11.4vw auto 0;
            }
        }
    }
}



//tablet　画面サイズが750pxからはこのスタイルを読む
@media screen and (min-width: var.$BP+1) {}

//sp
@media screen and (max-width: var.$BP) {}


//PCTablet 画面サイズが990pxからはこのスタイルを読む
@media screen and (min-width: 990px) {}


// @include var.('.aboutRn__swiper', var.$assets_path + 'bg_aboutRn-sweipe');
@include var.webpBg('.vitaTone__bblc--chekpoint', var.$assets_path+'bg_explain-toneup03b', 'png');
@include var.webpBg('.vitaTone__bblc--chekpoint-txt', var.$assets_path+'subttl_explain-toneup03', 'png');


@media screen and (max-width: var.$BP) {
    // @include var.webpBg('.aboutRn__swiper', var.$assets_path + 'bg_aboutRn-sweipe-sp');

    // @include var.webpBg('.upthome__fv', var.$imgpath +'fv_sp');
    // @include var.webpBg('.upthome__set--img-in', var.$imgpath +'home_setimg-sp', 'png');
    // @include var.webpBg('.upthome__producer', var.$imgpath +'bg_yumi-sp02');

}