<div class="persePolicy">
    <h1 class="persePolicy__en">Return / Cancel</h1>
    <h2 class="persePolicy__sub">(  キャンセル・変更規定・返品に関して  )</h2>

    <div class="persePolicy__content">
        <h2 class="persePolicy__subttl">■キャンセルについて</h2>
        <p class="persePolicy__txtb mt20">- 発送前：ご注文後、できるだけお早めにご連絡ください。</p>
        <p class="persePolicy__txtb mt20">当店では、配送業者の集荷時間に間に合うよう、梱包から出荷まで、できる限り迅速な対応をとらせていただいております。その為、商品が発送済みとなってしまった場合、キャンセルはお受けできませんので、ご了承ください。</p>
        <p class="persePolicy__txtb mt20">- 発送後：お客様ご都合のご返品対応となり、実際にかかった送料・梱包及び事務手数料をご請求させていただきます。</p>
    

        <h2 class="persePolicy__subttl">■ご返品について</h2>
        <p class="persePolicy__txtb mt20">（1）お客様ご都合によるご返品は受け付けておりません。当店からの配送不備等につきましては、個別にご案内させていただきますので、お手数ですがお問い合わせください。</p>
        <p class="persePolicy__txt mt20">（2）商品の欠陥、配送中の破損につきましては、必ず商品到着後8日以内にご連絡ください。</p>
        <p class="persePolicy__txt mt20">※宅配便等、追跡番号つきの配送方法の場合は配送業者へお問い合わせください。</p>
        <p class="persePolicy__txt mt20">（3）当店では省資源化、低価格維持の目的により簡易包装での発送とさせていただいております。その為、お届け時に外箱に少々のへこみ等のダメージが見られる場合がございます。</p>
        <p class="persePolicy__txt mt20">ご返品の対応は承っておりませんので、何卒ご了承くださいますよう、お願いいたします。</p>
        <p class="persePolicy__txt mt20">商品に問題が発生していた場合に関しては別途ご相談ください。</p>
        <p class="persePolicy__txt mt20">（4）事前にご連絡がなく商品をご返送いただいた場合は一切の対応をいたしかねます</p>
        <p class="persePolicy__txt mt20">（5）未開封品のみご対応いたします。いかなる場合も使用済み、開封済みの商品はご対応いたしかねますので、何卒ご了承くださいますよう、お願いいたします。</p>
        <p class="persePolicy__txt mt20">（6）8日を超えますと交換・返品・返金を承りかねます</p>
    
        <h2 class="persePolicy__subttl">■交換について</h2>
        <p class="persePolicy__txt mt20">商品に欠陥がある場合、原則として良品との交換となり、返金には応じかねます</p>
        <p class="persePolicy__txt mt20">＊返品、交換についてのルール＊</p>
        <p class="persePolicy__txt mt20">（1）お客様都合による返品、交換はお断りさせていただきます。</p>
        <p class="persePolicy__txt mt20">（2）不良品などお届け商品に不備があった場合は返品または、同一商品との交換にてご対応いたします。</p>
        <p class="persePolicy__txt mt20">（3）商品などの不良に由来する返品、交換をご希望の場合は商品到着後8日間以内に専用フォームよりお問い合わせください。商品到着後8日間を越えてからのお問い合わせついては一切の対応をお断りさせていただきます。</p>
        <p class="persePolicy__txt mt20">（4）使用感が見受けられる商品や、タグ・付属品の紛失、破損・汚損のある商品の返品、交換対応はお受けできません。</p>
        <p class="persePolicy__txt mt20">弊社に商品到着後、内容を確認の上、返品、交換のお手続きを行います。</p>
        <p class="persePolicy__txt mt20">その際、上記に記載している返品、交換の対応に該当しない事由と弊社にて判断した場合は送料をお客様のご負担にてご返送させて頂きますので予めご了承ください。</p>

    </div>
</div>
{% comment %} <div class="footer__fluid" style="margin: 0 0 60px;">
    <p class="footer__fluid--txt">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.svg?v=1647228464" alt="Tomorrow, You will be better than you are." width="auto" height="auto" loading="lazy">
        <img src="https://cdn.shopify.com/s/files/1/0618/4593/0220/files/fluid_txt.svg?v=1647228464" alt="Tomorrow, You will be better than you are." width="auto" height="auto" loading="lazy">
    </p>
</div> {% endcomment %}
<p class="persePolicy__txtb"></p>
<p class="persePolicy__txt"></p>

<h2 class="persePolicy__subttl"></h2>
<p class="persePolicy__txt"></p>
<p class="persePolicy__txtb"></p>
<p class="persePolicy__txtb"></p>