@charset "utf-8";
@use './reset.scss'as var;
@use 'parts/policy.scss';
@use 'parts/contact.scss';
@use 'parts/footer.scss';
@use 'parts/phome.scss';
@use 'parts/top.scss';
@use 'parts/product01.scss';
@use 'parts/eyeshadow.scss';

//リニューアル
@use 'parts/top_renew.scss';
@use 'parts/top_gmenu.scss';
@use 'parts/renew_index.scss';


body {
    background: var.$BG;
}

#wrapper {
    #homeTop {
        display: none;
    }
}

.home {
    #homeTop {
        display: block !important;
    }
}

.pereseLogo {
    white-space: nowrap;
    text-indent: -9999px;
    background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/logo.svg') no-repeat 0 0;
    display: block;
    width: 136px;
    height: 40px;
    background-size: 100% auto;
}

.header-wrapper {
    position: fixed;
    width: 100vw;
    height: 80px;
    top: 50px;
    display: block;

    &.fixed {
        display: none;
    }

    &.active {
        top: 0px;
        border-bottom: solid 1px #E8E3DD;
    }
}

.header {
    &__notice {
        font-size: 12px;
        color: #FFF;
        background: var.$CR;
        height: 50px;
        margin: 0;
        display: flex;
        align-items: center;

        span {
            // max-width: var.$PCW;
            width: 100%;
            display: block;
            margin: 0 auto;
            padding: 0 5rem;
            letter-spacing: 0.1;
        }
    }
}

//sp
@media screen and (max-width: var.$BP) {


    body.homePerse {
        .active {
            .header-wrapper {
                top: 33px;
                height: 85px;
            }

            .pereseLogo {
                margin-top: 1vw;
                top: 0px;
                width: 26.66vw;
                height: 7.86vw;
                margin-left: 1vw;
                margin-bottom: 0
            }
        }

        #MainContent {
            padding: 88px 0 60px !important;
        }

        .pereseLogo {
            width: 41.466vw;
            height: 12vw;
            background-size: 100% auto;
            margin-left: 1vw;
            margin-top: 3vw;
        }
    }

    #MainContent {
        padding: 65px 0 60px;
    }

    .header-wrapper {
        top: 33px;
        height: 64px;

        .pereseLogo {
            margin-top: 1vw;
            top: 0px;
            width: 26.66vw;
            height: 7.86vw;
            margin-left: 1vw;
            margin-bottom: 0
        }

        .active {
            .pereseLogo {
                margin-top: 1vw;
                top: 0px;
                width: 26.66vw;
                height: 7.86vw;
                margin-left: 1vw;
                margin-bottom: 0
            }
        }
    }

    .header {
        &__notice {
            font-size: 12px;
            height: 33px;
            margin: 0;
            display: flex;
            align-items: center;

            span {
                max-width: 100%;
                width: 100%;
                display: block;
                margin: 0 auto;
                text-align: center;
                letter-spacing: 0.1;
            }
        }
    }
}

//tablet　画面サイズが750pxからはこのスタイルを読む
@media screen and (min-width: var.$BP+1) {}

//PCTablet 画面サイズが990pxからはこのスタイルを読む
@media screen and (min-width: 990px) {
    #MainContent {
        padding-top: 90px;
    }
}

// .hiddenParts{
//     display: none;
// }
// .grid-view-item__link.hiddenParts{
//     display: block;
// }

@media screen and (min-width: 990px) {
    .overflow-hidden-tablet {
        overflow: hidden;
    }
}

.menu_bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    mix-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.42);
    z-index: 2;
    display: none;
    text-indent: -9999px;
    white-space: nowrap;
}

.header--middle-left {
    position: relative;
}

header-drawer {
    position: absolute;
    right: 50px;
}

.header-wrapper--border-bottom {
    border-bottom: none;
}

.header__icons {
    padding-right: 60px;
}


//sp
@media screen and (max-width: var.$BP) {
    .header__icons {
        padding-right: 40px;
    }

    header-drawer {
        position: absolute;
        right: 10px;
    }
}

.menu-drawer__navigation {
    padding-bottom: 10px !important;
    padding-top: 0 !important;
}

.menu-drawer-close {
    // font-family: 'Outfit', sans-serif;
    // text-align: center;
    // color: var.$CR;
    // font-size: 1rem;
    // width: 34px;
    // height: 38px;
    margin: 0 0 0 auto;
    // padding: 0;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding: 10px 0;

    span {
        display: inline-block;
        width: 20px;
        height: 20px;
        padding: 10px 0;

        &::before {
            display: block;
            content: "";
            width: 20px !important;
            height: 1px;
            background: #FFF;
            transform: rotate(-45deg);
        }

        &::after {
            display: block;
            content: "";
            width: 20px !important;
            height: 1px;
            background: #FFF;
            transform: rotate(45deg);
        }

    }
}

#nudie-beige,
#teddy-brown,
#air-gray,
#palm-green {

    .menu-drawer-close {
        color: var.$cColor;

        span {
            &::before {
                background: var.$cColor;
            }

            &::after {
                background: var.$cColor;

            }

        }
    }
}


.menu-drawer__navWrap {
    // height: 67px;
    // padding: 22px;
    // width: 100%;
    // text-align: right;
}

.menu-drawer__inner-container {
    overflow-y: scroll !important;
}

#shopify-section-announcement-bar {
    z-index: 0;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.1em;
}

.header-wrapper.gradient {}

.header__icon {
    color: #FFF;

    svg {
        color: #FFF;
        fill: #FFF;
    }
}

.st0 {
    fill: #FFF;
}

.announcement-bar {
    height: 50px;
    align-items: center;
    display: flex;

    p {
        text-align: left;
    }
}

#MainContent {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;

    &.adjustment {
        padding-top: 0;
    }

    #wrapper {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .main {
        &__sns {
            position: fixed;
            right: 36px;
            top: 50%;
            transform: translateY(-50%);
            width: 22px;
            height: 224px;
            display: block;
            z-index: 2;
            &.fixed {
                display: none;
            }

            a {
                display: block;
                white-space: nowrap;
                text-indent: -9999px;
                width: 22px;
                height: 22px;
                margin-bottom: 35px;

            }

            &--tw {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/icon_twitter.svg') no-repeat 0 0;
                background-size: 100% auto;

            }

            &--insta {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/icon_insta.svg') no-repeat 0 0;
                background-size: 100% auto;
            }

            &--line {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/icon_line.svg') no-repeat 0 0;
                background-size: 100% auto;
            }

            &--youtube {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/icon_youtube.svg') no-repeat 0 0;
                background-size: 100% auto;
                margin-bottom: 0;
            }
        }

        &__logo {
            display: inline-block;
            text-indent: -9999px;
            white-space: nowrap;
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/mainlogo_9337f400-31be-4ff2-b0b0-45c5945d26ba.png?v=1644841958') no-repeat 0 0;
            background-size: 100% auto;
            width: 14px;
            height: 248px;
            position: fixed;
            left: 46px;
            top: 50%;
            transform: translateY(-50%);

            &.fixed {
                display: none;
            }
        }
    }
}

#nudie-beige,
#teddy-brown,
#air-gray,
#palm-green {

    #MainContent {
        .main {
            &__sns {
                &--tw {
                    background: url('#{var.$assets_path}icon_twitter2.svg') no-repeat 0 0;
                    background-size: 100% auto;

                }

                &--insta {
                    background: url('#{var.$assets_path}icon_insta2.svg') no-repeat 0 0;
                    background-size: 100% auto;
                }

                &--line {
                    background: url('#{var.$assets_path}icon_line2.svg') no-repeat 0 0;
                    background-size: 100% auto;
                }

                &--youtube {
                    background: url('#{var.$assets_path}icon_youtube2.svg') no-repeat 0 0;
                    background-size: 100% auto;
                }
            }

            &__logo {
                background: url('#{var.$assets_path}mainlog.svg') no-repeat 0 0;
                background-size: 100% auto;

            }
        }
    }

}

//sp
@media screen and (max-width: var.$BP) {
    .announcement-bar {
        justify-content: center;
        height: 33px;

        p {
            text-align: center;
        }
    }

    #wrapper {
        width: 100vw;
    }

    #MainContent {
        .main__logo {
            display: none;
        }

        .main__sns {
            display: none;
        }

    }

}


.cart-count-bubble {
    width: 8px;
    height: 8px;
    left: 27px;
    bottom: 10px;

    span {
        font-size: 0;
    }
}

#perseCart {
    display: none;
}

.ImgBox-Img {
    transition-duration: 0.6s;
}

.ImgBox-Img:hover {
    transform: scale(1.1);
    transition-duration: 0.6s;
}


@keyframes fadeLeftAnime0 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeLeftAnime02 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes fadeRtAnime {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#MainContent {
    .shopify-policy__container {
        display: none;
    }
}

//告知バー
#shopify-section-announcement-bar {
    position: relative;
    width: 100%;

    .announcement-bar {
        border: none;

        &+.announcement-bar {
            position: absolute;
            height: 50px;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            width: 100%;
            animation-name: fadeTopBar;
            animation-duration: 7s;
            animation-delay: 150ms;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }

    @media screen and (max-width: var.$BP) {
        .announcement-bar {
            &+.announcement-bar {
                height: 33px;
            }

        }
    }
}

@keyframes fadeTopBar {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    20% {
        opacity: 0;

        transform: translateY(-100px);
    }

    30% {
        opacity: 1;

        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 0;

        transform: translateY(-100px);
    }

    100% {
        opacity: 0;

        transform: translateY(-100px);
    }
}

//時々二段

#shopify-section-announcement-bar-nidan {
    padding: 0 0;
    padding-top: 3px;
    background: #f08984;
    height: 72px;
    position: relative;
    width: 100%;

    .announcement-bar {
        border: none;

        &+.announcement-bar {
            position: absolute;
            height: 72px;
            top: 0;
            left: 0;
            display: block;
            align-items: center;
            animation-name: fadeTopBar;
            animation-duration: 7s;
            animation-delay: 150ms;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }

    span {
        display: block;
        font-size: 14px !important;
        line-height: 1 !important;
    }

    .announcement__link {
        padding: 0 0 0 !important;
        margin: 0 40px !important;
        display: block;
        line-height: 0;
        margin: 0 auto;

        border-bottom: solid 1px rgba(246, 241, 249, 0.6);

        +.announcement__link {
            border-bottom: none;
            padding: 0 !important;

        }

        .announcement-bar__link {
            span {
                display: inline;
                line-height: 0;
                letter-spacing: 0.1em;

            }
        }
    }

    @media screen and (max-width: var.$BP) {
        height: 70px;

        .announcement-bar {
            &+.announcement-bar {}

        }

        .announcement-bar__link {
            position: relative;
            margin: 0 10px !important;

        }

        .announcement-bar {

            a {
                height: 33px;
                display: block;
                line-height: 1;
            }
        }
    }

    .announcement-bar {
        height: auto;
        display: block;
        font-size: 14px !important;
        line-height: 1.2 !important;

    }

    .announcement-bar__link {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
}


#nudie-beige,
#teddy-brown,
#air-gray,
#palm-green {
    #shopify-section-announcement-bar-nidan {
        background: #82B1BB;
    }
}

// .header-wrapper{
//     top: 72px;
//     @media screen and (max-width: var.$BP) {
//         top: 70px;

//     }
// }


.announcement__link {
    padding-top: 6px;

    a {
        display: block;
    }

}

@media screen and (max-width: var.$BP) {

    #shopify-section-announcement-bar-nidan .announcement__link {
        margin: 0 30px !important;
    }

    #shopify-section-announcement-bar-nidan .announcement__link a {
        font-size: 12px;

    }

    .announcement-bar p {}

    .announcement__link {
        &.miharu {
            padding-top: 0;
        }
    }

    #shopify-section-announcement-bar-nidan span {
        font-size: 12px !important;
    }
}


@media screen and (min-width: 750px) {
    .slider-mobile-gutter .grid__item {
        max-width: 20% !important;
    }
}



@media screen and (min-width: var.$BP) {

    .modal-window0803 {
        width: 594px;

        img {
            max-width: 594px;
            width: 594px;
            width: 100%;
        }
    }

    .js-close0803 {
        width: 594px;
        display: block;

        img {
            max-width: 594px;
            width: 100%;
            display: block;

        }


    }

    .js-nextlink0803 {
        width: 594px;
        display: block;

        img {
            width: 594px;
            width: 100%;

            display: block;
        }

    }
}



.pc {
    display: block;
}

.sp {
    display: none;
}

@media screen and (max-width: var.$BP) {
    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

}

.homePerse .modal-window {
    background: none;
    padding: 0;
    width: auto;
    box-shadow: none;
}

.announcement-bar__message {
    letter-spacing: 0.2rem;
}

.spmodalblc {
    width: 80vw;

    img {
        width: 100%;
    }
}

//eyeshadow追加 ---2302
.header-wrapper {
    height: auto;
    background-color: rgba(0, 0, 0, 0);

}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
}

#MainContent {
    padding-top: 66px;
}

.header-wrapper.active {
    background: var.$BG;
}

.cart__note label {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    line-height: 1.2 !important;
    height: auto !important;
    margin-bottom: 8px !important;
    color: var.$CR !important;
}

.text-area {
    color: var.$CR !important;

}

//フェイドイン
.scroll-up,
.scroll-up02,
.scroll-up03 {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 1s;

    &.showup {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}


//追記 --------------------リニューアル

.rnsns {
    width: 21px;
    overflow: hidden;
    position: fixed;
    right: 37px;
    z-index: 30;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: all 1s;

    &.is-show {
        opacity: 1;
        visibility: visible;
        transition: all 1s;
    }

    a {
        display: block;
        margin-bottom: 20px;

        &:hover {
            opacity: 0.6;
        }
    }

    &__tw {
        background: url(var.$assets_path + 'rnsns_twitter.svg') no-repeat 0 0;
        background-size: 100% auto;
        width: 21px;
        height: 46px;
        white-space: nowrap;
        text-indent: -9999px;
        display: block;
    }

    &__insta {
        background: url(var.$assets_path + 'rnsns_insta.svg') no-repeat 0 0;
        background-size: 100% auto;
        width: 21px;
        height: 65px;
        white-space: nowrap;
        text-indent: -9999px;
        display: block;
    }

    &__youtube {
        background: url(var.$assets_path + 'rnsns_youtube.svg') no-repeat 0 0;
        background-size: 100% auto;
        width: 21px;
        height: 50px;
        white-space: nowrap;
        text-indent: -9999px;
        display: block;
    }

    &__line {
        background: url(var.$assets_path + 'rnsns_line.svg') no-repeat 0 0;
        background-size: 100% auto;
        width: 21px;
        height: 28px;
        white-space: nowrap;
        text-indent: -9999px;
        display: block;
    }
}

.header-wrapper {
    background: transparent !important;
    border-bottom: none;
}

#MainContent #wrapper {
    margin-top: -84px;
}

#header-wrapper {
    position: relative;
    top: auto;

    &.fixed {
        top: 0px;
        position: fixed;
        border-bottom: none;
        width: 100vw;
        display: block;
        top: 0;
    }
}

.announcement-bar {
    height: 40px;
}

#MainContent {
    padding-top: 0;
}
#headerIcons, #Details-menu-drawer-container{
    .header__icon {
        svg {
            color:  #615243;

            .st0 {
                fill: #615243;
            }

        }
    }

}

#rnLogo {

    svg {
        width: 144px;
        height: 42px;
        .st0 {
            fill: #615243;
        }

    }

    .header__icon {
        color:  #615243;
        svg {
            color:  #615243;

            .st0 {
                fill: #615243;
            }

        }
    }



}   

//topページ
.homePerse {
    #rnLogo {
        svg {
            width: 144px;
            height: 42px;

            .st0 {
                fill: #FFFFFF;
            }

        }

        .header__icon {
            svg {
                .st0 {
                    fill: #FFFFFF;
                }

            }
        }

        &.origin {
            svg {
                .st0 {
                    fill: #615243;
                }
            }

            .header__icon {
                svg {
                    color: #615243;

                }
            }
        }

    }

    #header-wrapper {

        .header__icon {
            svg {
                color: #FFF;
                fill: #FFF;

            }
        }

        &.origin {
            .header__icon {
                svg {
                    color: #615243;
                    .st0 {
                        fill: #615243;
                    }
                }
            }
        }

    }
}


#menu-drawer{
    .header__icon {
        svg {
            color: #FFF!important;
            .st0 {
                fill: #FFF;
            }
        }
    }
}

//header
.header {
    padding-bottom: 0;
    height: 84px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.page-width {
    padding-left: 4.5rem;
}

.announcement-bar__message {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#shopify-section-announcement-bar {
    line-height: 1;
    height: 40px;
    overflow: hidden;
}
//sp
@media screen and (max-width: var.$BP) {
    body.homePerse #MainContent{
        padding-top: 0!important;
    }
    #MainContent #wrapper {
        margin-top: -14.1vw;
    }
    
    //topページ
    .homePerse {
        #rnLogo {
            svg {
                width: 26.66vw;
                height: 7.8vw;
    
            }
    
        }
        
    }

    .header {
        padding-bottom: 0;
        height: 14.1vw;
    }
    
    .page-width {

        padding-left: 0;
        padding-right: 0;
        padding-left: 2.9rem;
        padding-right: 2.2rem;
    }
    
    .announcement-bar__message {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

}