@charset "utf-8";
@import 'parts/**/*.scss';

body {
    background: $BG;
}

#wrapper {
    #homeTop {
        display: none;
    }
}

.home {
    #homeTop {
        display: block !important;
    }
}

.pereseLogo {
    white-space: nowrap;
    text-indent: -9999px;
    background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/logo.svg') no-repeat 0 0;
    display: block;
    width: 136px;
    height: 40px;
    background-size: 100% auto;
}

.header-wrapper {
    position: fixed;
    width: 100vw;
    height: 80px;
    top: 50px;
    display: block;
    &.fixed{
        display: none;
    }
    &.active {
        top: 0px;
        border-bottom: solid 1px #E8E3DD;
    }
}

.header {
    &__notice {
        font-size: 12px;
        color: #FFF;
        background: $CR;
        height: 50px;
        margin: 0;
        display: flex;
        align-items: center;

        span {
            // max-width: $PCW;
            width: 100%;
            display: block;
            margin: 0 auto;
            padding: 0 5rem;
            letter-spacing: 0.1;
        }
    }
}

//sp
@media screen and (max-width: $BP) {


    body.homePerse{
        .active{
            .header-wrapper {
                top: 33px;
                height: 85px;
            }
            .pereseLogo {          
                margin-top: 1vw;
                top: 0px;
                width: 26.66vw;
                height: 7.86vw;
                margin-left: 1vw;
                margin-bottom: 0
            }
        }
        #MainContent{
            padding: 88px 0 60px!important;
        }

        .pereseLogo {
            width: 41.466vw;
            height: 12vw;
            background-size: 100% auto;
            margin-left: 1vw;
            margin-top: 3vw;
        }
    }
    #MainContent{
        padding: 65px 0 60px;
    }

    .header-wrapper {
        top: 33px;
        height: 64px;
        .pereseLogo {
            margin-top: 1vw;
            top: 0px;
            width: 26.66vw;
            height: 7.86vw;
            margin-left: 1vw;
            margin-bottom: 0
        }
        .active{
            .pereseLogo{
                margin-top: 1vw;
                top: 0px;
                width: 26.66vw;
                height: 7.86vw;
                margin-left: 1vw;
                margin-bottom: 0
            }
        }
    }

    .header {
        &__notice {
            font-size: 12px;
            height: 33px;
            margin: 0;
            display: flex;
            align-items: center;

            span {
                max-width: 100%;
                width: 100%;
                display: block;
                margin: 0 auto;
                text-align: center;
                letter-spacing: 0.1;
            }
        }
    }
}

//tablet　画面サイズが750pxからはこのスタイルを読む
@media screen and (min-width: $BP+1) {}

//PCTablet 画面サイズが990pxからはこのスタイルを読む
@media screen and (min-width: 990px) {
    #MainContent{
        padding-top: 90px;
    }
}

// .hiddenParts{
//     display: none;
// }
// .grid-view-item__link.hiddenParts{
//     display: block;
// }

@media screen and (min-width: 990px) {
    .overflow-hidden-tablet {
        overflow: hidden;
    }
}

.menu_bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    mix-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.42);
    z-index: 2;
    display: none;
    text-indent: -9999px;
    white-space: nowrap;
}

.header--middle-left {
    position: relative;
}

header-drawer {
    position: absolute;
    right: 50px;
}

.header-wrapper--border-bottom {
    border-bottom: none;
}

.header__icons {
    padding-right: 60px;
}


//sp
@media screen and (max-width: $BP) {
    .header__icons {
        padding-right: 40px;
    }

    header-drawer {
        position: absolute;
        right: 10px;
    }
}

.menu-drawer__navigation {
    padding-bottom: 10px !important;
    padding-top: 0 !important;
}

.menu-drawer-close {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    color: $CR;
    font-size: 1rem;
    width: 34px;
    height: 38px;
    margin: 0 0 0 auto;
    padding: 0;
    cursor: pointer;

    span {
        display: inline-block;
        padding: 10px 0;
        margin: 0 auto;
        width: 20px;
        height: 20px;

        &::before {
            display: block;
            content: "";
            width: 20px !important;
            height: 1px;
            background: $CR;
            transform: rotate(-45deg);
        }

        &::after {
            display: block;
            content: "";
            width: 20px !important;
            height: 1px;
            background: $CR;
            transform: rotate(45deg);
        }

    }
}

#nudie-beige, #teddy-brown, #air-gray, #palm-green{

    .menu-drawer-close {
        color: $cColor;    
        span {
            &::before {
                background: $cColor;
            }
    
            &::after {
                background: $cColor;

            }
    
        }
    }
}


.menu-drawer__navWrap {
    height: 67px;
    padding: 22px;
    width: 100%;
    text-align: right;
}

.menu-drawer__inner-container {
    overflow-y: scroll !important;
}

#shopify-section-announcement-bar {
    z-index: 0;
}

.header-wrapper.gradient {
}

.header__icon {
    color: #F08984;

    svg {
        color: #F08984 !important;
        fill: #F08984 !important;
    }
}

.st0 {
    fill: #F08984;
}

.announcement-bar {
    height: 50px;
    align-items: center;
    display: flex;

    p {
        text-align: left;
    }
}

#MainContent { 
    width: 100vw;    
    margin: 0 auto;
    padding-bottom: 60px;
    &.adjustment {
        padding-top: 0;
    }

    #wrapper {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    .main {
        &__sns {
            position: fixed;
            right: 36px;
            top: 50%;
            transform: translateY(-50%);
            width: 22px;
            height: 224px;
            display: block;
            &.fixed{
                display: none;
            }
            a {
                display: block;
                white-space: nowrap;
                text-indent: -9999px;
                width: 22px;
                height: 22px;
                margin-bottom: 35px;
               
            }
            &--tw {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/icon_twitter.svg') no-repeat 0 0;
                background-size: 100% auto;

            }

            &--insta {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/icon_insta.svg') no-repeat 0 0;
                background-size: 100% auto;
            }

            &--line {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/icon_line.svg') no-repeat 0 0;
                background-size: 100% auto;
            }

            &--youtube {
                background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/icon_youtube.svg') no-repeat 0 0;
                background-size: 100% auto;
                margin-bottom: 0;
            }
        }
        &__logo{
            display: inline-block;
            text-indent: -9999px;
            white-space: nowrap;
            background: url('https://cdn.shopify.com/s/files/1/0618/4593/0220/files/mainlogo_9337f400-31be-4ff2-b0b0-45c5945d26ba.png?v=1644841958') no-repeat 0 0;
            background-size: 100% auto;
            width: 14px;
            height: 248px;
            position: fixed;
            left: 46px;
            top: 50%;
            transform: translateY(-50%);
            &.fixed{
                display: none; 
            }
        }
    }
}

#nudie-beige, #teddy-brown, #air-gray, #palm-green{

    #MainContent {
        .main {
            &__sns{
                &--tw {
                    background: url('#{$assets_path}icon_twitter2.svg') no-repeat 0 0;
                    background-size: 100% auto;
    
                }
    
                &--insta {
                    background: url('#{$assets_path}icon_insta2.svg') no-repeat 0 0;
                    background-size: 100% auto;
                }
    
                &--line {
                    background: url('#{$assets_path}icon_line2.svg') no-repeat 0 0;
                    background-size: 100% auto;
                }
    
                &--youtube {
                    background: url('#{$assets_path}icon_youtube2.svg') no-repeat 0 0;
                    background-size: 100% auto;
                }
            }
            &__logo{
                background: url('#{$assets_path}mainlog.svg') no-repeat 0 0;
                background-size: 100% auto;

            }
        }
    }

}

//sp
@media screen and (max-width: $BP) {
    .announcement-bar {
        justify-content: center;
        height: 33px;

        p {
            text-align: center;
        }
    }
    #wrapper {
        width: 100vw;
    }

    #MainContent{
        .main__logo{
            display: none;
        }
        .main__sns{
            display: none;
        }
        
    }

}


.cart-count-bubble{
    width: 8px;
    height: 8px;
    left :27px;
    bottom: 10px;
    span{
        font-size: 0;
    }
}

#perseCart{
    display: none;
}

.ImgBox-Img{
    transition-duration: 0.6s;
}
.ImgBox-Img:hover{
    transform: scale(1.1);
    transition-duration: 0.6s;
}


@keyframes fadeLeftAnime0{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeLeftAnime02{
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes fadeRtAnime{
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
#MainContent{
    .shopify-policy__container{
        display: none;
    }
}

//告知バー
#shopify-section-announcement-bar{
    position: relative;
    width: 100%;
    .announcement-bar{
        border: none;
        &+ .announcement-bar{
            position: absolute;
            height: 50px;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            width: 100%;
            animation-name: fadeRtAnime;
            animation-duration: 16s;
            animation-iteration-count: infinite;
        }
    }
    @media screen and (max-width: $BP) {
        .announcement-bar{
            &+ .announcement-bar{
                height: 33px;
            }

        }
    }
}

@keyframes fadeRtAnime{
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    23% {
        transform: translateY(-100px);
        opacity: 1;
    }
    33% {
        transform: translateY(0);
        opacity: 1;
    }
    66% {
        transform: translateY(0);
        opacity: 1;
    }   
    76% {
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-100px);
    }
}